$skin-name : "bradley" !default;
/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #a40000;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color:   			 #ebebeb;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #ededed;
$tool-border-color:    			 #cccccc;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #FFFFFF !important;
$tool-menu-hover-background-color: #a40000 !important;
$tool-menu-current-background-color: #FFFFFF !important;
$tool-menu-current-color: #a40000 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;


$tool-menu-item-selected-text-color:                       #a40000 !default;
$tool-menu-item-selected-icon-color:                       #a40000 !default;
$tool-menu-item-background-color:                          #EBEBEB !default;
$tool-menu-item-hover-text-color:                          #FFFFFF !default;
$tool-menu-item-hover-icon-color:                          #FFFFFF !default;
$tool-menu-item-hover-background-color:                    #a40000 !default;
$tool-menu-item-hover-border-left:                         4px solid #FFFFFF !default;
$tool-menu-item-selected-border-left:                      4px solid #a40000 !default;

$tool-tab-text-color:                                     $tool-menu-color !default;
$tool-tab-background-color:                               $tool-menu-background-color !default;
$tool-tab-border-color:                                   #E5E5E5 !default;
$tool-tab-hover-text-color:                               #FFFFFF !default;
$tool-tab-hover-background-color:                         #a40000 !default;
$tool-tab-hover-highlight-color:                          #a40000 !default;
$tool-tab-active-text-color:                              #a40000 !default;
$tool-tab-active-background-color:                        #FFFFFF !default;
$tool-tab-active-highlight-color:                         #a40000 !default;

$main-content-background: $background-color !important;
$top-header-background: #a40000 !important;
$sites-nav-background: $top-header-background;

$breadcrumbs-color:    			 #a40000 !important;
$breadcrumbs-tool-color:       		 #a40000 !important;
$breadcrumbs-hover-color:      		 #a40000 !important;

/* Link colors */
$link-color: #2a94c0;
$link-active-color:#2a94c0;
$link-hover-color: $primary-color;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #000000;
$button-border-color: #CCCCCC;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #cccccc;
/* General button colors */
$button-color-text-color: #000000;
$button-color-border-color: #CCCCCC;
$button-color-background-color: #f0f0f0;
$button-color-background-secondary-color: #cccccc;

$button-primary-text-color:                               #FFFFFF !default;
$button-primary-background-color:                         #a40000 !default;
$button-primary-border-color:                             $button-color-border-color !default;
$button-primary-hover-text-color:                         #000000 !default;
$button-primary-hover-background-color:                   $button-color-background-color !default;
$button-primary-hover-border-color:                       #124466 !default;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$sites-nav-menu-item-background:            #FFFFFF !important;
$sites-nav-menu-item-color:                 #042644;
$sites-nav-menu-item-color-hover:           #a40000;
$sites-nav-menu-item-border-top:            1px solid #E5E5E5 !important; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          1px solid #E5E5E5 !important;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           1px solid #E5E5E5 !important;
$sites-nav-menu-item-selected-background:   #a40000 !important;
$sites-nav-menu-item-selected-color:        #FFFFFF;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

$sites-nav-menu-item-hover-color:           #a40000 !default;
$sites-nav-menu-item-selected-hover-color:        #000000 !default;

/* Logo location */
$logo: '../images/bradley.svg';
$logo-height: 51px;
$logo-width: 156px;

$banner-height: 63px;

$topNav-text-color:                         #FFFFFF;

.Mrphs-mainHeader .Mrphs-headerLogo {
   border-bottom: 1px solid #fff;
}

.Mrphs-topHeader a:hover {
   color: #000 !important;
}

#Mrphs-xlogin .logo {
    background: #a40000 url("images/bradley.svg") no-repeat center center !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
        color: #FFF !important;
    }
}

.genTitle {
    visibility: hidden !important;
}

.Mrphs-sakai-lessonbuildertool .navIntraTool {
    padding: 16px 0 0 0 !important;
}

.Mrphs-sakai-resources .inactive button span:hover {
    color: #000 !important;
}

  .Mrphs-mainHeader.is-fixed .Mrphs-headerLogo {
    position: inherit !important;
}
