/* Light Theme */
:root{
    // Primary Color
    @include defineColorHSL(--sakai-brand, 241.11, 100%, 10.59%);
    @include defineColorHSL(--sakai-color-orange, 23, 100%, 53%);
    @include defineColorHSL(--sakai-color-grey, 211.76, 17.53%, 80.98%);

    --top-header-background: var(--sakai-brand);

    --sakai-selected-page-bg-color: var(--sakai-color-grey);
    --sakai-selected-page-color: var(--sakai-color-black);
    --sakai-current-site-color: var(--sakai-color-black);
}

:root.sakaiUserTheme-dark {
    --sakai-selected-page-bg-color: var(--sakai-color-grey);
    --sakai-selected-page-color: var(--sakai-color-black);
    --sakai-current-site-color: var(--sakai-color-white);
}

.Mrphs-sakai-lessonbuildertool .collapsibleSectionHeader:hover, .Mrphs-sakai-lessonbuildertool .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .collapsibleSectionHeader.paginate_button.current, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .Mrphs-sakai-lessonbuildertool .collapsibleSectionHeader.paginate_button.current {
  background-color: #010036 !important;
}
