/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "brock"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #444444 !default;

$primary-color:                          #cc0000;
$primary-color-shadow:			 adjust-hue( $primary-color, 5 ) !default;	// To give primary a darker shadow
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color: #FFFFFF;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #FFFFFF;
$tool-border-color:    			 #d8d8d8;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color: #FFFFFF !important; 
$tool-menu-hover-background-color: #cc0000;
$tool-menu-current-background-color: #ececec !important;
$tool-menu-current-color: #383838 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$tool-nav-link-color: #000000 !important;

$main-content-background: $background-color !important;
$top-header-background: #cc0000 !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 #000000 !important;
$breadcrumbs-tool-color:       		 #000000 !important;
$breadcrumbs-hover-color:      		 #000000 !important;



/* Link colors */
$link-color: #cc0000;
$link-active-color:#9c0000;
$link-hover-color: #9c0000;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #FFFFFF;
$button-border-color: #cc0000;
$button-background-color: #cc0000 !important;
$button-background-secondary-color: #585858;
/* General button colors */
$button-color-text-color: #585858;
$button-color-border-color: #E0E3E5;
$button-color-background-color: -webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color: #fefefe;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;
$swapped-view-sites-nav-background: $swapped-view-primary !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #ececec;
$header-gradient-b: #ececec;
$header-gradient-c: #ececec;
$header-gradient-d: #ececec;

/* topNav Main Menu */
$header-size : 50px !default;
$topNav-text-color:                         #fff !default; /* used for links and text in the topNav */
$topNav-text-alt-color:                     #ccc !default;

$sites-nav-menu-item-background:            #cc0000 !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            1px solid #de5959; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          1px solid #de5959;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           1px solid #de5959;
$sites-nav-menu-item-selected-background:   #484848 !important;
$sites-nav-menu-item-selected-color:        #FFFFFF !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   none !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;
$tool-menu-width-collapsed: $tool-menu-width / 2 !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/brock.svg';
$logo-height: 40px;
$logo-width: 126px;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;
$tool-menu-icon-on-left: false !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 6px;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: $primary-color !important;
}

.instruction {
    border-color: $primary-color !important;
    background-color: #eeeeee !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px !important;
}

.Mrphs-siteHierarchy {
    color: #000000 !important;
}

.fa-angle-down:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__drop:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__dropdown:before {
    color: #FFFFFF !important;
}


.Mrphs-topHeader a {
    color: #EFEFEF !important;
}

a.button {
   background-color: #cc0000 !important;
   color: #FFFFFF !important;
}

.Mrphs-toolTitleNav .Mrphs-toolTitleNav__button_container {
    margin: -5px 0 -20px 0 !important;
}

.Mrphs-footerApp__presence, .Mrphs-footerApp__portalChat { 
    background-color: #CC0000 !important;
}

.Mrphs-portalChat__users { 
    border-top:	solid 0.5em #CC0000 !important;
}

.Mrphs-portalChat__title {
    color: #FFFFFF !important;
}

.Mrphs-portalChat__user--wrapper {
    background-color: #CC0000 !important;
}

.Mrphs-portalChat__title {
    background-color: #CC0000 !important;
}

.discTria {
    background-color: #F0F0F0 !important;
}

.bs-callout-primary, .validationEmbedded, .validation, .Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
    background-color: #F0F0F0 !important;
}

.ui-state-active {
    color: #FFFFFF !important;
    background: #CC0000 !important;
    border: 1px solid #CC0000 !important;
}

#chatPresenceWrapper {
    color: #585858;
}

.messageAlert { 
    color: #000000 !important;
}

.gb-grade-section,.gb-due-date {
    color: #000000 !important;
}

.btn-info { 
   color: #FFFFFF !important;
   background: #CC0000 !important;
   border: #CC0000 !important;
}

.dropDownDiv {
    background: #FFFFFF !important;
}

.alertMessage h3 {
    color: #CC0000 !important;
}

.Mrphs-sakai-poll thead tr th {
    color: #FFFFFF !important;
}

.addAttendee, .activeTag {
   color: #CC0000 !important;
}

.alert-info {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
    border-color: #CC0000 !important;
}

.ui-accordion .ui-accordion-header { 
    background-color: #F0F0F0 !important;
    border-color : #F0F0F0 !important;
}

input[type="radio"]:checked{
    background: radial-gradient(#CC0000, #fff 5px) !important;
    border: 1px solid #CC0000 !important;
}

.userNav__subnav li a, #mastLogin #loginLinks ul li a {
    color: #CC0000 !important;
}

#foot-wrapper{
    width:100%;
    color:#585858;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size:9px;
}

#foot-content, #footcr{
    text-align:center;
}

#btmnav-upper ul li{
    list-style:none;
    display:inline;
    border-right:#999999 solid 1px;
    padding:0 5px 0 5px;
}

#btmnav-upper ul li a{
    text-decoration:none;
}

#btmnav-upper ul li a:link, btmnav-upper ul li a:visited, btmnav-upper ul li a:hover, btmnav-upper ul li a:active{
                color:#585858
}

#btmnav-upper ul li a:hover{
    color:#CC0000;
}

#btmnav-upper ul li a:link, a:visited, a:hover, a:active{
    color:#585858
}

.footerbold{
    font-weight:bold;
}

#btmnav-lower div address a, #btmnav-lower div a{
    color:#CC0000;
}

.Mrphs-footer {
    text-align: center !important;
}

.Mrphs-footer--nav__project {
    list-style-type:  none !important;
}


.Mrphs-footer--nav__project--poweredby {
    display: none !important;
}

#tabs .ui-widget-content a {
    color: #CC0000 !important;
}

@media (min-width: 768px) {
.col-sm-5 {
    width: 20% !important;
  }
}

.ui-accordion-header-active {
   background: #CC0000 !important;
}

a.jqueryui-hideDivision {
    color: #000 !important;
}

.pasystem-banner-alert-toggle-list-item {
    background-color: #CC0000 !important;
}

input[type="reset"] {
    color: #FFFFFF !important;
}

.Mrphs-sakai-resources .inactive button span {
    color:#585858 !important;
}

@import "customization"; //it is created on-the-fly by maven.

@import url(#{$font-family-url});

