/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "morpheus-master"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px !default;
$break-medium-end:     	1030px !default;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px !default;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Open Sans:400,500,700" !default;

//Typography variables
$font-family: "Open Sans", sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;
$background-color-secondary: #3949AB !default;

$primary-color:                          #000000;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color:   			 #efefef;
$tool-menu-color:      			 #000000;
$tool-tab-background-color:    			 #efefef;
$tool-border-color:    			 #CCCCCC;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color: $background-color !important;
$tool-menu-hover-background-color: $primary-color !important;
$tool-menu-current-background-color: $primary-color !important;
$tool-menu-current-color: $background-color !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #cacaca !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 $background-color !important;
$breadcrumbs-tool-color:       		 #FFFFFF !important;
$breadcrumbs-hover-color:      		 #FFFFFF !important;

/* Link colors */
$link-color: #6369c2;
$link-active-color: #6369c2;
$link-hover-color: #6369c2;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #000000;
$button-border-color: #CCCCCC;
$button-background-color: #f4f4f4;
$button-background-secondary-color: #ffffff;
/* General button colors */
$button-color-text-color: #000000;
$button-color-border-color: #CCCCCC;
$button-color-background-color: #f4f4f4;
$button-color-background-secondary-color: #ffffff;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten(#444444, 45%) !important;
$ok-color:                  #dff08d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #fcf8e3 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #000000;
$header-gradient-b: #000000;
$header-gradient-c: #FFFFFF;
$header-gradient-d: #FFFFFF;

$sites-nav-menu-item-background:            #000000 !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           $sites-nav-menu-item-color !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #f8b954 !important;
$sites-nav-menu-item-selected-color:        #000000 !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color !default;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

$banner-height: 52px !default;

/* Logo location */
$logo: '../images/providence.svg';
$logo-height: 49px !important;
$logo-width: 466px !important;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;



/* Icon Overrides */
//$sakai-custom-icons : ( sakai-message-bundle-manager : ( extend : fa-edit ) );

/* Footer */
$footer-background-color: $tool-menu-background-color !default;
$footer-border-color: $tool-border-color !default;
$footer-color: $text-color !default;

// Overview page column widths. Total to add up to 96% as the columns have a margin.
$col1of2-width: 48% !default;
$col2of2-width: 48% !default;

/* From NYU 11 Skin */
$divider-shadow: 0 1px 5px rgba(0,0,0,.3) !default;
$overview-portlet-border-color: $tool-border-color !default;
$overview-portlet-shadow: 1px 1px 5px rgba(0,0,0,0.2) !default;
$overview-portlet-title-background-color: $tool-tab-background-color !default;

.Mrphs-mainHeader .Mrphs-headerLogo {
   width: 19.5em !important;
}

.instruction {
   background-color: #CCCCCC !important;
}
