$background-color: #CCCCCC;
$logo: 'images/appalachainlaw.jpg';
$logo-height: 80px;
$logo-width: 80px;

$header-gradient-a: #E3F5E6;
$header-gradient-b: #E3F5E6;
$header-gradient-c: #E3F5E6;
$header-gradient-d: #E3F5E6;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #C6CAC6;
$toolMenuColor:                          #3D6D4D;
$toolTabBGColor:                         #E3F5E6;
$toolBorderColor:                        #D0D7D0;

$primary-color:                          #3D6D4D;

$text-color:                             #3D6D4D;

$button-text-color:      #3D6D4D;
$button-border-color: #3D6D4D;
$button-background-color: #F0F0F0;
$button-background-secondary-color: #C6CAC6;

$button-color-text-color: #3D6D4D;
$button-color-border-color: #3D6D4D;
$button-color-background-color: #F0F0F0;
$button-color-background-secondary-color: #C6CAC6;

$okcolor:                                        #DFF0D8 !default;
$errorcolor:                             #F2DEDE !default;
$warncolor:                              #FCF*E3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #3D6D4D;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #CCCCCC !important;
  color: #3D6D4D !important;
}

.Mrphs-siteHierarchy a {
  color: #3D6D4D !important;
}

.Mrphs-topHeader {
background: #3D6D4D !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #3D6D4D !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
