$background-color: #CCCCCC;
$primary-color: #6C0560;
$text-color: #FFFFFF;
$toolMenuBGColor: #F0F0F0;
$toolMenuColor: #000000;
$button-background-color: #E1CE9E;
$button-text-color: #42083C;
$button-border-color: #42083C;
$button-background-secondary-color: #E1CE9E;
$toolTabBGColor: #6C0560;
/*$toolBorderColor: #*/

$okcolor:                                        #dff0d8 !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: $secondary-color;
}

.navIntraTool li span a {
color: $secondary-color !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: $background-color !important;
  color: $primary-color !important;
}

.Mrphs-siteHierarchy a {
  color: $primary-color !important;
}

.Mrphs-topHeader {
background: $secondary-color !important;
}
