$background-color: #CCCCCC;
$logo: 'images/bs4s.jpg';
$logo-height: 80px;
$logo-width: 109px;

$header-gradient-a: #FFFFFF;
$header-gradient-b: #FFFFFF;
$header-gradient-c: #FFFFFF;
$header-gradient-d: #FFFFFF;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #0E73C0;
$toolMenuColor:                          #0E73C0;
$toolTabBGColor:                         #0E73C0;
$toolBorderColor:                        #FFFFFF;

$primary-color:                          #FFFFFF;

$text-color:                             #0E73C0;

$button-text-color:      #6BB844;
$button-border-color: #0E73C0;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #0E73C0;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #FFFFFF;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #0E73C0;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #00FF00;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #00FF00 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #FFFFFF !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #00FF00 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
