$background-color: #CCCCCC;
$logo: 'images/clearcreek.jpg';
$logo-height: 80px;
$logo-width: 237px;

$header-gradient-a: #0D341B;
$header-gradient-b: #0D341B;
$header-gradient-c: #0D341B;
$header-gradient-d: #0D341B;

$tool-background-color: #F0F0F0;
$toolMenuBGColor:                        #D5D5D5;
$toolMenuColor:                          #FFFFFF;
$toolTabBGColor:                         #91A172;
$toolBorderColor:                        #231F20;

$primary-color:                          #D5D5D5;

$text-color:                             #231F20;

$button-text-color:      #231F20;
$button-border-color: #231F20;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #284C35;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #231F20;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #231F20;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #E6E6E6 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #D5D5D5 !important;
}

.Mrphs-topHeader {
background: #0E4220 !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #E6E6E6 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
