$background-color: #FFFFFF;
$logo: '../images/covenant.png';
$logo-height: 78px;
$logo-width: 202px;

$header-gradient-a: #314151;
$header-gradient-b: #2d3d4d;
$header-gradient-c: #1b2936;
$header-gradient-d: #1b2936;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #EAEAEA;
$toolMenuColor:                          #003366;
$toolTabBGColor:                         #005a76;
$toolBorderColor:                        #003366;

$primary-color:                          #003366;

$text-color:                             #003366;

$button-text-color:   #FFFFFF;
$button-border-color: #FFFFFF;
$button-background-color: #484743;
$button-background-secondary-color: #014D37;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #005a76;
$button-color-background-color: #ccddee;
$button-color-background-secondary-color: #003366;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;
