/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "csc"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700";

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
$default-font-size: 14px;
$default-font-weight: 400;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700;     										// 400 or 700 as you wish

/* Color palette */
$background-color:                  #FFFFFF;
$background-color-secondary:        #24292e;

$primary-color:                     #660034;
$text-color:                        #24292e;

$portal-background-color:           $background-color;

$tool-background-color:		        $background-color;
$tool-menu-background-color:        #EBEBEB;
$tool-menu-color:      			    $text-color;
$tool-tab-background-color:    		#F8F8F8;
$tool-border-color:    			    #E0E0E0;
$tool-tab-active-background-color:  $background-color;
$tool-tab-active-border-color: 	    $background-color;
$tool-menu-hover-color:             $tool-background-color;
$tool-menu-hover-background-color:  $primary-color ;
$tool-menu-current-background-color:$background-color ;
$tool-menu-current-color:           $primary-color ;
$tool-menu-current-border-color:    $primary-color ;
$tool-sub-menu-border-color:        darken( $tool-menu-background-color, 10% );
$tool-sub-menu-background-color:    darken( $tool-menu-background-color, 10% );
$tool-sub-menu-hover-background-color: $primary-color;
$tool-sub-menu-hover-color:         #FFF;
$tool-sub-menu-current-color:       $primary-color;
$tool-sub-menu-current-background-color: $background-color;
$tool-sub-menu-current-hover-color: $tool-menu-color;
$tool-sub-menu-current-hover-background-color: $background-color;

$main-content-background:           $background-color;
$top-header-background:             $background-color-secondary;
$sites-nav-background:              $top-header-background;

$breadcrumbs-color:    			    $text-color;
$breadcrumbs-tool-color:       	    $text-color;
$breadcrumbs-hover-color:      	    $text-color;

/* Link colors */
$link-color: #0064cd;
$link-active-color:#4e5192;
$link-hover-color: $primary-color;
$link-background-color: transparent;
$link-active-background-color: transparent;
$link-hover-background-color: transparent;

/* Linknav button colors */
$button-text-color:    	                    #24292e;
$button-border-color:                       #CCCCCC;
$button-background-color:                   -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
$button-background-secondary-color:         #e7e7e7;
/* General button colors */
$button-color-text-color:                   #ffffff;
$button-color-border-color:                 #660034;
$button-color-background-color:             #660034;
$button-color-background-secondary-color:   #82124B;
/* ///////////// */

$calendar-event-background-color: 	    #4a8db3;

$info-color:                                #2a94c0;
$info-background-color:                     lighten($info-color, 45%);
$ok-color:                                  #3c763d;
$ok-background-color:                       lighten($ok-color, 45%);
$warn-background-color:                     #F6ECB7;
$warn-color:                                darken($warn-background-color, 35%);
$error-background-color:                    #f2dede;
$error-color:                               darken($error-background-color, 30%);

$topNav-text-color:                         #FFFFFF;

/* This is the gradient in the header of the page */
$header-gradient-a:                         #c9c9c9;
$header-gradient-b:                         #c9c9c9;
$header-gradient-c:                         #c9c9c9;
$header-gradient-d:                         #c9c9c9;

$sites-nav-menu-item-background:            #424B54;
$sites-nav-menu-item-color:                 #FFFFFF;
$sites-nav-menu-item-color-hover:           $sites-nav-menu-item-color;
$sites-nav-menu-item-border-top:            1px solid transparent; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none; 
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none;
$sites-nav-menu-item-selected-background:   $primary-color;
$sites-nav-menu-item-selected-color:        #FFFFFF;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none;
$sites-nav-submenu-background:              $sites-nav-menu-item-background;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color;
$sites-nav-submenu-item-border:             none;
$sites-nav-submenu-item-border-hover:       none;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none;

/* Tool Menu */
$tool-menu-width: 13em;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px;

/* Logo location */
$logo: '../images/csc.svg';
$logo-height: 50px;
$logo-width: 175px;

/* Tool icons */
$skin-with-icons: true;
$icon-size: 20px;
$tool-menu-icon-on-left: true;

/* Footer */
$footer-background: transparent;
$footer-color: $background-color-secondary;

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 3px;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
    border-color: $tool-menu-color !important;
    background-color: $background-color !important;
} 

.instruction {
    border-color: $tool-menu-color !important;
    background-color: $background-color !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 1px;
}

.Mrphs-siteHierarchy {
    color: $text-color;
}

.fa-angle-down:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__drop:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__dropdown:before {
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: 140px;
    height: 50px;
    }
}

.Mrphs-sakai-resources .inactive button span {
    color: #999 !important;
}

/* Tool Menu Support Info */
@media #{$nonPhone}{

    #toolMenu ul li:last-child:after {
        content: "24/7 Sakai Support";
        font-size: .9em;
        padding: 12px 12px 0;
        display: block;
        color: $primary-color;
        font-weight: bold;
        background-color:#c9c9c9;
    }
    #toolMenu ul:after {
        font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif, FontAwesome;
        content: "\f095  1-877-722-6131";
        color: $text-color;
        padding: 0 12px 12px;
        display: block;
        border-bottom: 1px solid #b4b4b4;
        background-color:#c9c9c9;
    }
}

/* CSC Login button */
.is-minimized a[href].Mrphs-loginUser__message{
    background-color: #660033;
    border:1px solid #470024;
    border-radius: 3px;
    color: #E0E0E0;
    padding:5px 10px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.1em;
}

.is-minimized a[href].Mrphs-loginUser__message:hover {
    background-color: #82124B;
    color: #FFFFFF;
    text-decoration: none;
}

.is-minimized a[href].Mrphs-loginUser__message:before {
    font-family: FontAwesome;
    content:'\f090';
    margin-right:8px;
    font-size: 1.1em;
}
