/* Duke CRTP Skin Sakai 11.x */
@import "_duke-default.scss";

$logo: 'images/crtpLogo.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-crtp/images/crtpLogo.png';
$logo-height: 43px;
$logo-width: 297px;

