/* Duke Law Skin Sakai 11.x */
@import "/home/ec2-user/src/sakai-11/reference/library/src/morpheus-master/sass/clients/_duke-default.scss";

$logo: 'images/law_logo_sm.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-law/images/law_logo_sm.png';
$logo-height: 43px;
$logo-width: 129px;
