/* Duke Law Skin Sakai 11.x */
@import "_duke-default.scss";

$logo: 'images/law_logo_sm.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-law/images/law_logo_sm.png';
$logo-height: 43px;
$logo-width: 129px;
