/* Duke Fuqua Skin Sakai 11.x */
@import "/home/ec2-user/src/sakai-11/reference/library/src/morpheus-master/sass/clients/_duke-default.scss";


$logo: 'images/dukeLogo.png';
$logo: 'http://www.local.dev/sakai/skin-duke-default/images/dukeLogo.png';
$logo-height: 43px;
$logo-width: 87px;
