/* Duke Divinity Skin Sakai 11.x */
@import "_duke-default.scss";


$logo: 'images/divinityLogo.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-divinity/images/divinityLogo.png';
$logo-height: 43px;
$logo-width: 97px;

