$background-color: #CCCCCC;
$logo: 'images/frostyacres.jpg';
$logo-height: 80px;
$logo-width: 300px;

$header-gradient-a: #C3CDE8;
$header-gradient-b: #C3CDE8;
$header-gradient-c: #C3CDE8;
$header-gradient-d: #C3CDE8;

$tool-background-color: #F1F3FA;
$toolMenuBGColor:                        #C3CDE8;
$toolMenuColor:                          #000000;
$toolTabBGColor:                         #F1F3FA;
$toolBorderColor:                        #C3CDE8;

$primary-color:                          #F1F3FA;

$text-color:                             #000000;

$button-text-color:      #000000;
$button-border-color: #000000;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #C3CDE8;

$button-color-text-color: #000000;
$button-color-border-color: #000000;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #C3CDE8;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #00FF00;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #00FF00 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #F1F3FA !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #00FF00 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
