$background-color: #32cc99;
$background-color-secondary: #043f6a;
$tool-background-color: #fff;
$button-color-background-color: #868686;
$btn-default-bg: #043f6a;
$primary-color: #6391BF;

$logo: 'images/huc.png';
$logo-width: 371px;
$logo-height: 75px;
