$background-color: #CCCCCC;
$logo: 'images/johnson.jpg';
$logo-height: 59px;
$logo-width: 200px;

$header-gradient-a: #0A233E;
$header-gradient-b: #0A233E;
$header-gradient-c: #0A233E;
$header-gradient-d: #0A233E;

$tool-background-color: #F0F0F0;
$toolMenuBGColor:                        #F0F0F0;
$toolMenuColor:                          #0A233E;
$toolTabBGColor:                         #6C809D;
$toolBorderColor:                        #C1C1C1;

$primary-color:                          #FFFFFF;

$text-color:                             #0A233E;

$button-text-color:      #FFFFFF;
$button-border-color: #FFFFFF;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #0A233E;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #FFFFFF;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #0A233E;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #E6E6E6 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #FFFFFF !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #E6E6E6 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
