$background-color: #CCCCCC;
$logo: 'images/kentuckychristian.jpg';
$logo-height: 58px;
$logo-width: 143px;

$header-gradient-a: #3A0A0A;
$header-gradient-b: #3A0A0A;
$header-gradient-c: #931A21;
$header-gradient-d: #931A21;

$tool-background-color: #F0F0F0;
$toolMenuBGColor:                        #F0F0F0;
$toolMenuColor:                          #951C24;
$toolTabBGColor:                         #4A0D0D;
$toolBorderColor:                        #C1C1C1;

$primary-color:                          #921B20;

$text-color:                             #FFFFFF;

$button-text-color:      #FFFFFF;
$button-border-color: #4A0D0D;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #941B20;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #4A0D0D;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #941B20;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #00FF00;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #00FF00 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #921B20 !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #00FF00 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
