/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "kuyper"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #F2F2F2;

$primary-color:                          #84754e;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color:   			 #A39161;
$tool-menu-color:      			 #FFFFFF;
$tool-tab-background-color:    			 #A39161;
$tool-border-color:    			 #47234b;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #CCCCCC !important;
$tool-menu-hover-background-color: #A39161 !important;
$tool-menu-current-background-color: #A39161 !important;
$tool-menu-current-color: #CCCCCC !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #FFFFFF !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 $background-color !important;
$breadcrumbs-tool-color:       		 #A39161 !important;
$breadcrumbs-hover-color:      		 #A39161 !important;

/* Link colors */
$link-color: #4F234B;
$link-active-color: #4F234B;
$link-hover-color: #4F234B;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #4F234B;
$button-border-color: #8A6D83;
$button-background-color: #A39161 !important;
$button-background-secondary-color: #4F234B;
/* General button colors */
$button-color-text-color: #CCCCCC;
$button-color-border-color: #8A6D83;
$button-color-background-color: #84754e !important;
$button-color-background-secondary-color: #8A6D83;
/* ///////////// */

$ok-color:                  #DFF0D8 !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #FCF8E3 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #F2DEDE !default;
$error-color:               darken($error-background-color, 30%) !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #4F234B;
$header-gradient-b: #4F234B;
$header-gradient-c: #4F234B;
$header-gradient-d: #4F234B;

$sites-nav-menu-item-background:            #FFFFFF !important;
$sites-nav-menu-item-color:                 #484848 !important;
$sites-nav-menu-item-color-hover:           #484848 !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #A39161 !important;
$sites-nav-menu-item-selected-color:        #000000 !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

$topNav-text-color:                         #000000 !important; /* used for links and text in the topNav */

/* Logo location */
$logo: '../images/kuyper.jpg';
$logo-height: 50px;
$logo-width: 449px;

/* Tool icons */
$skin-with-icons: false !important;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

$info-color:                $primary-color  !default;
$info-background-color:     $background-color !important;

.img_site_toolmenu {
    display: none !important;
}

.select {
    background-color: #f0f0f0 !important;
    color: #000000 !important;
}

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
  color: #CCCCCC !important;
}

.instruction {
    border-color: #84754e !important;
    background-color: #F2F2F2 !important;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: #84754e !important;
}

.Mrphs-siteHierarchy .Mrphs-hierarchy--siteName a, .Mrphs-siteHierarchy {
    color: #A39161 !important;
}
