$background-color: #FFFFFF;
$logo: 'images/leesmcrae.jpg';
$logo-height: 56px;
$logo-width: 142px;

$header-gradient-a: #005C42;
$header-gradient-b: #005C42;
$header-gradient-c: #005C42;
$header-gradient-d: #005C42;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #EAEAEA;
$toolMenuColor:                          #005C42;
$toolTabBGColor:                         #484743;
$toolBorderColor:                        #005C42;

$primary-color:                          #005C42;

$text-color:                             #005C42;

$button-text-color:      #FFFFFF;
$button-border-color: #FFFFFF;
$button-background-color: #484743;
$button-background-secondary-color: #014D37;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #007050;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #014D37;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
  border-radius: 3px !important;
}

.navIntraTool li span a {
   color: #FFFFFF !important;
}

.navIntraTool li span a:hover {
   color: #000000 !important;
   background: #cccccc !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #014D37 !important;
  color: #FFFFFF !important;
  border-radius: 3px !important;
}

.Mrphs-siteHierarchy a {
  color: #FFFFFF !important;
}

.Mrphs-topHeader {
   background: #116823 !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
   background: #FFFFFF !important;
   color: #005C42 !important;
   font-weight: 500;
   border-radius: 3px !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -3px !important;
    height: 28px;
}

.select, select {
    background-color: #eaeaea !important;
}

.instruction {
    border-color: #005C42 !important;
    border-left-color: #005C42 !important;
    background-color: #ededed !important;
}

.fa-angle-right:before {
    color: #FFFFFF !important;
}

.messageInformation, .messageInstruction, .messageProgress {
    border-color: #005C42 !important;
    border-left-color: #005C42 !important;
    background-color: #ededed !important;
}

.bs-callout-primary {
    border-color: #005C42 !important;
    border-left-color: #005C42 !important;
    background-color: #ededed !important;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
    border-left-color: #005C42 !important;
    border-color: #005C42 !important;
    border-radius: 3px !important;
    background-color: #ededed !important;
}

.lessons-siteHierarchy-title {
   color: #ffffff !important;
}
