$background-color: #FFFFFF;
$logo: 'images/leesmcrae.jpg';
$logo-height: 80px;
$logo-width: 318px;

$header-gradient-a: #005C42;
$header-gradient-b: #005C42;
$header-gradient-c: #005C42;
$header-gradient-d: #005C42;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #EAEAEA;
$toolMenuColor:                          #005C42;
$toolTabBGColor:                         #484743;
$toolBorderColor:                        #005C42;

$primary-color:                          #005C42;

$text-color:                             #005C42;

$button-text-color:      #FFFFFF;
$button-border-color: #FFFFFF;
$button-background-color: #484743;
$button-background-secondary-color: #014D37;

$button-color-text-color: #FFFFFF;
$button-color-border-color: #007050;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #014D37;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #014D37 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #005C42 !important;
}

.Mrphs-topHeader {
background: #005C42 !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #005C42 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
