/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "appalachainlaw"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;
$background-color-secondary: #A30042;

$primary-color:                          #000000;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color:   			 #EEEEEE;
$tool-menu-color:      			 #000000;
$tool-tab-background-color:    			 #EEEEEE;
$tool-border-color:    			 #980033;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #FFFFFF !important;
$tool-menu-hover-background-color: #A30042 !important;
$tool-menu-current-background-color: #ededed !important;
$tool-menu-current-color: #A30042 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #A30042 !important;
$sites-nav-background: $top-header-background;

$breadcrumbs-color:    			 $background-color !important;
$breadcrumbs-tool-color:       		 #FFFFFF !important;
$breadcrumbs-hover-color:      		 #FFFFFF !important;

/* Link colors */
$link-color: #0064cd;
$link-active-color: #0064cd;
$link-hover-color: #4e5192;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color: #A30042;
$button-border-color: #ccc;
$button-background-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
$button-background-secondary-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
/* General button colors */
$button-color-text-color: #A30042;
$button-color-border-color: #ccc;
$button-color-background-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
$button-color-background-secondary-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
/* ///////////// */

$ok-color:                  #DFF0D8 !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #FCF8E3 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #F2DEDE !default;
$error-color:               darken($error-background-color, 30%) !default;

$swapped-view-primary:           $primary-color;
$swapped-view-text-color:        $text-color;
$swapped-view-sites-nav-background: $sites-nav-menu-item-background;

/* This is the gradient in the header of the page */
$header-gradient-a: #A30042;
$header-gradient-b: #A30042;
$header-gradient-c: #A30042;
$header-gradient-d: #A30042;

$sites-nav-menu-item-background:            #A30042;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #efefef !important;
$sites-nav-menu-item-selected-color:        #980033 !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/luc.svg';
$logo-height: 50px;
$logo-width: 150px;

/* Tool icons */
$skin-with-icons: false !important;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

$info-color:                $primary-color  !default;
$info-background-color:     $background-color !important;

.img_site_toolmenu {
    display: none !important;
}

.select {
    color: #000000 !important;
}

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 3px;
}

.instruction {
    background-color: #FFFFFF !important;
    color: #980033 !important;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: #980033 !important;
}

.Mrphs-siteHierarchy .Mrphs-hierarchy--siteName a, .Mrphs-siteHierarchy {
    color: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px;
}

#Mrphs-xlogin .logo {
    background: #8c1b35 url(../images/luc.png) no-repeat center center !important;
}

.popup-container-header { 
    background: #922246 !important;
}

.button_color, input[type="submit"], input[type="button"], input[type="reset"], button, button.btn-primary {
    font-weight: 600 !important;
    box-shadow: 0 1px 1px 0 #999999 !important;
}

#Mrphs-sakai-roster .roster-group-cell {
    display: inline !important;
}
