/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "appalachainlaw"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Roboto", Arial, sans-serif;
$default-font-size: 15px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 500 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #ECF0F1;

$primary-color:                          #2C3E50;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 #FFFFFF;
$tool-menu-background-color:   			 #2C3E50;
$tool-menu-color:      			 #ECF0F1;
$tool-tab-background-color:    			 #2C3E50;
$tool-border-color:    			 #ECF0F1;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #2C3E50 !important;
$tool-menu-hover-background-color: #ECF0F1 !important;
$tool-menu-current-background-color: #ECF0F1 !important;
$tool-menu-current-color: #2C3E50 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #2C3E50 !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 $background-color !important;
$breadcrumbs-tool-color:       		 #FFFFFF !important;
$breadcrumbs-hover-color:      		 #FFFFFF !important;

/* Link colors */
$link-color: #2a94c0;
$link-active-color: #2a94c0;
$link-hover-color: #2a94c0;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #FFFFFF;
$button-border-color: #2a94c0;
$button-background-color: #2a94c0 !important;
$button-background-secondary-color: #2a94c0;
/* General button colors */
$button-color-text-color: #FFFFFF;
$button-color-border-color: #2a94c0;
$button-color-background-color: #2a94c0 !important;
$button-color-background-secondary-color: #2a94c0;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($info-color, 45%) !important;
$ok-color:                  #DFF0D8 !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #FCF*E3 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #F2DEDE !default;
$error-color:               darken($error-background-color, 30%) !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #30373d;
$header-gradient-b: #30373d;
$header-gradient-c: #30373d;
$header-gradient-d: #30373d;

$sites-nav-menu-item-background:            #2C3E50 !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #2C3E50 !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #FFFFFF !important;
$sites-nav-menu-item-selected-color:        #2A94C0 !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 30px !default;
$logo-width: 50px !default;

/* Tool icons */
$skin-with-icons: false !important;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

$info-color:                $primary-color  !default;
$info-background-color:     $background-color !important;

.select {
    background-color: #ECF0F1 !important;
    color: #000000 !important;
}

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
    border: none;
    background: none;
    padding: 5px 4px;
    margin-top: 20px;
}

.navIntraTool li span a { /* buttons inside content boxes */
   background: #2a94c0 !important;
   color: #FFFFFF !important;
   border: 1px solid #ececec;
   border-radius: 3px;
   font-weight: 400;
   text-transform: lowercase;
   text-transform: capitalize;
}

.navIntraTool li span a:hover { /* hover state for the buttons inside content boxes */
   background: #2a94c0 !important;
   color: #FFFFFF !important;
   opacity: .85;
   font-weight: 400;
}

.instruction { /* Make the instructions more like Bootstrap alert style */
   background: #d9eef7;
   border: none;
   border-width: 1px solid #d9eef7 !important;
   border-radius: 8px;
   color: #31708f;
   font-weight: 400;
}

.Mrphs-siteHierarchy .Mrphs-hierarchy--siteName a, .Mrphs-siteHierarchy {
    color: #FFFFFF !important;
}

.userNav__subnav .Mrphs-userNav__submenuitem--fullname-and-id, #mastLogin #loginLinks ul .Mrphs-userNav__submenuitem--fullname-and-id {
   color: #ECF0F1 !important;
}

#mastLogin #loginLinks ul a {
   color: #ECF0F1 !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a { /* the active/selected site in the navbar */
   border-radius: 30px;
}

#linkNav ul li.Mrphs-sitesNav__menuitem a, #linkNav ul li.Mrphs-sitesNav__menuitem a:hover {
   border:1px solid #8b9cab;
   border-radius: 30px;
}

@media only screen and (min-width: 1031px) { /* push top content box links down for the web content box on Overview page */
   .Mrphs-sakai-iframe .Mrphs-toolTitleNav__button_container {
      margin-top:10px !important;
   }
}

.Mrphs-toolTitleNav {
    background: #96A6B4 !important;
    margin:  3em 0px 0px 0px !important;
}

.Mrphs-multipleTools .Mrphs-toolTitleNav .Mrphs-toolTitleNav__title {
    color: #FFFFFF !important;
}

.Mrphs-sakai-iframe-site .siteDescription {
    margin: 0em 0 0 0 !important;
}

.Mrphs-footerApp__portalChat { /*reduce the chat button from being stupidly big */
   width: auto;
   background: #3498db;
   color: #FFFFFF;
}

#pageBody>.Mrphs-pagebody { /*set the color of the nav border-bottom */
   padding: 8px;
   background: #ECF0F1;
}

li.Mrphs-footer--nav__project--copyright { /* Set the copyright text in footer white */
   color: #FFFFFF;
}

li.Mrphs-footer--nav__project--sakai, li.Mrphs-footer--nav__project--copyright,
li.Mrphs-footer--nav__project--poweredby { /* turn off bullets in footer */
   display: inline-block;
   list-style-type: none;
}

details.Mrphs-footer--details { /* Sets the font color to white in the footer */
   color: #FFFFFF;
}
