$background-color: #CCCCCC;
$logo: 'images/prometa.jpg';
$logo-height: 80px;
$logo-width: 350px;

$header-gradient-a: #B1B1B1;
$header-gradient-b: #B1B1B1;
$header-gradient-c: #B1B1B1;
$header-gradient-d: #B1B1B1;

$tool-background-color: #F0F0F0;
$toolMenuBGColor:                        #B1B1B1;
$toolMenuColor:                          #FFFFFF;
$toolTabBGColor:                         #B1B1B1;
$toolBorderColor:                        #FFFFFF;

$primary-color:                          #4E4E4E;

$text-color:                             #FFFFFF;

$button-text-color:      #FFFFFF;
$button-border-color: #B1B1B1;
$button-background-color: #f0f0f0;
$button-background-secondary-color: #6D6D6D;

$button-color-text-color: #000000;
$button-color-border-color: #B1B1B1;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #B1B1B1;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #E6E6E6 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #4E4E4E !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #E6E6E6 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
