/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "appalachainlaw"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Open Sans:400,500,700" !default;

//Typography variables
$font-family: "Open Sans", Verdana, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #00355f;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 #fff;
$tool-menu-background-color:   			 #ececec;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #ececec;
$tool-border-color:    			 #d9d9d9;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #fff !important;
$tool-menu-hover-background-color: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
$tool-menu-current-background-color: #ededed !important;
$tool-menu-current-color: #00355f !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #00355f !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 #000000;
$breadcrumbs-tool-color:       		 #000000;
$breadcrumbs-hover-color:      		 #000000;

/* Link colors */
$link-color: #2a94c0;
$link-active-color: #2a94c0;
$link-hover-color: #2A94FE;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color: #000000;
$button-border-color: #e9e9e9;
$button-background-color: #e9e9e9 !important;
$button-background-secondary-color: #e9e9e9;
/* General button colors */
$button-color-text-color: #000000;
$button-color-border-color: #e9e9e9;
$button-color-background-color: #e9e9e9 !important;
$button-color-background-secondary-color: #e9e9e9;
/* ///////////// */

$ok-color:                  #DFF0D8 !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #FCF8E3 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #F2DEDE !default;
$error-color:               darken($error-background-color, 30%) !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #a5a5a5;
$header-gradient-b: #a5a5a5;
$header-gradient-c: #a5a5a5;
$header-gradient-d: #a5a5a5;

$sites-nav-menu-item-background:            #00355f !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            none !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #FFFFFF !important;
$sites-nav-menu-item-selected-color:        #00355f !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   none !important; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !important;
$sites-nav-menu-item-selected-border-bottom: none !important; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !important;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/rwu.svg';
$logo-width: 111px;
$logo-height: 50px;

/* Tool icons */
$skin-with-icons: false !important;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

$info-color:                $primary-color  !default;
$info-background-color:     $background-color !important;

.select {
    color: #000000 !important;
}

.instruction {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border-color: #00355f !important;
    border-left-color: #00355f !important;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: #00355f !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px !important;
}

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 6px;
}
