/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "stlawu"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #4b2b23;
$text-color:                             #000000;

$portal-background-color: #FFFFFF;

$tool-background-color:	 #FFFFFF;
$tool-menu-background-color: #ededed;
$tool-menu-color:      			 #000000;
$tool-tab-background-color:  #ededed;
$tool-border-color:    			 #4b2b23;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #FFFFFF;
$tool-menu-hover-background-color: -webkit-linear-gradient(top, #4b2b23 0%,#6f4034 100%);
$tool-menu-current-background-color: -webkit-linear-gradient(top, #4b2b23 0%,#6f4034 100%);
$tool-menu-current-color: #FFFFFF;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: #FFFFFF !important;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #4b2b23 !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 #000000 !important;
$breadcrumbs-tool-color:       		 #000000 !important;
$breadcrumbs-hover-color:      		 #000000 !important;

$tool-nav-link-color:			 #4b2b23 !important;

/* Link colors */
$link-color: #006699;
$link-active-color:#4e5192;
$link-hover-color: $primary-color;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #444444;
$button-border-color: #CCCCCC;
$button-background-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
$button-background-secondary-color: #e7e7e7;
/* General button colors */
$button-color-text-color: #2683BC;
$button-color-border-color: #E0E3E5;
$button-color-background-color: -webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color: #e0e0e0;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$topNav-text-color: #FFFFFF;

/* This is the gradient in the header of the page */
//$hlader-gradient-a: url(images/background_gray2.jpg) top left repeat;
//$header-gradient-b: url(images/background_gray2.jpg) top left repeat;
//$header-gradient-c: url(images/background_gray2.jpg) top left repeat;
//$header-gradient-d: url(images/background_gray2.jpg) top left repeat;

$sites-nav-menu-item-background:            -webkit-linear-gradient(top, #4b2b23 0%,#6f4034 100%) !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            1px solid #222222 ; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          1px solid #222222;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           1px solid #222222;
$sites-nav-menu-item-selected-background:   -webkit-linear-gradient(top, #acacac 0%,#666666 100%) !important;
$sites-nav-menu-item-selected-color:        #FFFFFF !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   1px solid #222222; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: 1px solid #222222;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  1px solid #222222;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background: transparent !important;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color !important;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/stlawu.svg';
$logo-height: 50px;
$logo-width: 203px;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 6px;
}

//.Mrphs-topHeader a {
//    color: #FFFFFF !important;
//}

//.userNav__subnav li a, #mastLogin #loginLinks ul li a {
//    color: #4b2b23 !important;
//}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: $primary-color !important;
}

.instruction {
    border-color: $primary-color !important;
    background-color: #ededed !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px !important;
}

.Mrphs-siteHierarchy {
    color: #000000 !important;
    background: url(images/background_gray2.jpg) top left repeat !important;
}

.fa-angle-down:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__drop:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__dropdown:before {
    color: #000000 !important;
}

@media only screen and (max-width: 800px) {
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: 140px !important;
    height: 50px !important;
    }
}

body {
    background: url(images/background_gray2.jpg) top left repeat !important;
}

.Mrphs-mainContent {
    background: url(images/background_gray2.jpg) top left repeat !important;
}

#loginLink1 {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ededed;
    color: #000;
    border-radius: 3px;
    padding: 4px;
    margin: 0px -139px 0px 0px;
}


#loginLink2 {
    color: #fff !important;
    padding: 35px 0px 0px 0px;
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    .Mrphs-topHeader .Mrphs-loginNav {
        margin:  -13px 7em -12px 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    .Mrphs-topHeader {
        font-size: 9px !important;
    }
}

@media (min-width: 600px) {
  #loginLinksImage #loginLink2 {
    padding:0;
    margin: 8px 0 0 0;
    font-size: 0.9em;
    text-align: right;
    display: block;
  }
  #loginLinksImage #loginLink1 {
    padding: 8px 12px;
    margin: 0;
    text-decoration: none;
  }
}

.select, select {
    font-size: 11px !important;
}

#Mrphs-sakai-roster .roster-group-cell {
    display: inline !important;
}
