$skin-name : "tennesseewesleyan" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#5D829F !default;
$body-background-color: 		 			#FFFFFF !default;
$background-color-secondary: 		 			#0033A0 !default;
$text-color:				 		    	#4E4D4E !default;
$topNav-text-color:					    	#FFFFFF !default;
$sites-nav-background: 						#;
$skin-with-icons: 						false !important;

/* Logo location */
$logo: 								'../images/tennesseewesleyan.jpg';
$logo-height: 							50x;
$logo-width: 							249px;

// Tab colors
$tool-tab-text-color:			 			#343434 !default;
$tool-tab-background-color:              			#E6E6E6 !default;
$tool-tab-active-text-color:             			#000000 !default;
$tool-tab-active-highlight-color:        			$primary-color !default;
$tool-tab-active-background-color:				$body-background-color !default;

// Breadcrumbs
$breadcrumbs-color:			 			#343434 !default;
$breadcrumbs-tool-color:		 			#343434 !default;
$breadcrumbs-hover-color:		 			#343434 !default;

// Links
$link-color: 				 			#000000 !default;
$link-active-color: 			 			#000000 !default;
$link-hover-color: 			 			#000000 !default;

// Button colors
$button-text-color:	 		 			#FFFFFF !default;
$button-border-color: 			 			#5D829F !default;
$button-background-color: 		 			#2681B5 !default;
$button-background-secondary-color: 	 			#225377 !default;

$button-color-text-color: 		 			#FFFFFF !default;
$button-color-border-color: 		 			#000000 !default;
$button-color-background-color: 	 			#5D829F !default;
$button-color-background-secondary-color:			#2681B5 !default;
// Primary Button Color
$button-primary-background-color:        			#5D829F !default;
$button-primary-text-color: 		 			#FFFFFF !default;
$button-primary-hover-text-color:                   		$button-color-text-color;
$button-primary-hover-background-color:             		$button-color-background-color !default;
$button-primary-hover-border-color:                 		$primary-color;

// Link , Edit, Help Buttons
$button-secondary-background-color:            			#E6E6E6 !default;
$button-secondary-text-color:            			#5D829F !default;
$button-secondary-icon-color:            			#5D829F !default;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         			#aec0cf !default;
$sites-nav-menu-item-color:              			#3d3d3d !default;
$sites-nav-menu-item-icon-color:         			#3d3d3d !default;
//Selected
$sites-nav-menu-item-selected-background:			#5D829F !default;
$sites-nav-menu-item-selected-color:				#FFFFFF !default;
$sites-nav-menu-item-selected-hover-background: 		#FFFFFF !default;
$sites-nav-menu-item-selected-hover-color:      		#5D829F !default;
$sites-nav-menu-item-selected-hover-icon-color: 		#5D829F !default;
$sites-nav-menu-item-selected-border-color: 			#5D829F !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-background-color:		 			#E6E6E6 !default;
$tool-menu-color: 			 			#343434 !default;
$tool-border-color:			 			#9DABBE !default;
// non-selected hover
$tool-menu-item-hover-text-color:               		#FFFFFF !default;
$tool-menu-item-hover-icon-color:               		#FFFFFF !default;
$tool-menu-item-hover-background-color:         		#5D829F !default;
$tool-menu-item-hover-border-left:              		4px solid #FFFFFF !default;
// selected
$tool-menu-item-selected-text-color:            		#5D829F !default;
$tool-menu-item-selected-icon-color:            		#5D829F !default;
$tool-menu-item-selected-border-left:           		4px solid #5D829F !default;
$tool-menu-item-selected-background-color:          		#FFFFFF !default;

// submenu
$tool-sub-menu-hover-color:					#FFFFFF !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      		#FFFFFF !default;
$tool-menu-item-selected-hover-icon-color:      		#FFFFFF !default;
$tool-menu-item-selected-hover-background-color:		#5D829F !default;
$tool-menu-item-selected-hover-border-left:         		4px solid #FFFFFF !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:  		#E6E6E6 !default;
$tool-menu-collapse-active-text-color:             		#343434 !default;
$tool-sub-menu-hover-color:					#343434;

// info message colors
$info-background-color:   					$body-background-color;
$info-color:                					$primary-color  !default;

$error-background-color:    					#F2DEDE !default;
$ok-color:                  					#DFF0D8 !default;
$warn-background-color:     					#FCF8E3 !default;

.img_site_toolmenu {
    display: none !important;
}

.select {
    background-color: #FFFFFF !important;
    color: #4E4D4E !important;
}

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

#mastLogin ul {
    margin-bottom: 5px !important;
}

.Mrphs-topHeader .Mrphs-loginNav #roleSwitch {
    margin-right: 0em !important;
}
