$background-color: #EFEFEF;
$logo: 'images/tennesseewesleyan.jpg';
$logo-height: 46px;
$logo-width: 229px;

$header-gradient-a: #0033A0;
$header-gradient-b: #0033A0;
$header-gradient-c: #0033A0;
$header-gradient-d: #0033A0;

$tool-background-color: #FFFFFF;
$toolMenuBGColor:                        #2D2A26;
$toolMenuColor:                          #FFFFFF;
$toolTabBGColor:                         #98885B;
$toolBorderColor:                        #98885B;

$primary-color:                          #333333;

$text-color:                             #2D2A26;

$button-text-color:      #FFFFFF;
$button-border-color: #BBBBBB;
$button-background-color: #0033A0;
$button-background-secondary-color: #98885B;

$button-color-text-color: #032853;
$button-color-border-color: #032853;
$button-color-background-color: #2a94c0;
$button-color-background-secondary-color: #032853;

$okcolor:                                        #dff08d !default;
$errorcolor:                             #f2dede !default;
$warncolor:                              #fcf8e3 !default;

$skin-with-icons: true;

#toolMenuWrap img.img_site_toolmenu { display: none; }

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  color: #FFFFFF;
}

.navIntraTool li span a {
color: #000000 !important;
}


#linkNav ul li.Mrphs-sitesNav__menuitem a {
  background: #E6E6E6 !important;
  color: #FFFFFF !important;
}

.Mrphs-siteHierarchy a {
  color: #333333 !important;
}

.Mrphs-topHeader {
background: #FFFFFF !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected a {
    background: #FFFFFF !important;
    color: #E6E6E6 !important;
    font-weight: 450;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.Mrphs-sitesNav__menuitem--myworkspace a {
    top: -1px !important;
    height: 28px;
}
