/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "ceath"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #002776;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color:   			 #FFFFFF;
$tool-menu-color:      			 #000000;
$tool-tab-background-color:    			 #FFFFFF;
$tool-border-color:    			 #002776;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color:  #FFFFFF !important;
$tool-menu-hover-background-color: #009dce !important;
$tool-menu-current-background-color: #FFFFFF !important;
$tool-menu-current-color: #002776 !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #002776 !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 $background-color !important;
$breadcrumbs-tool-color:       		 #000000 !important;
$breadcrumbs-hover-color:      		 #000000 !important;

/* Link colors */
$link-color: #0064cd;
$link-active-color: #4e5192;
$link-hover-color: $primary-color;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #000000;
$button-border-color: #CCCCCC;
$button-background-color: #ebebeb;
$button-background-secondary-color: #ebebeb;
/* General button colors */
$button-color-text-color: #000000;
$button-color-border-color: #CCCCCC;
$button-color-background-color: #ebebeb;
$button-color-background-secondary-color: #ebebeb;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #ebebeb;
$header-gradient-b: #ebebeb;
$header-gradient-c: #ebebeb;
$header-gradient-d: #ebebeb;

$sites-nav-menu-item-background:            #002776 !important;
$sites-nav-menu-item-color:                 #FFFFFF !important;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #0085af !important;
$sites-nav-menu-item-selected-color:        #FFFFFF !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/wellesley.png';
$logo-height: 50px;
$logo-width: 65px;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 6px;
}

.navIntraTool li span a {
  color: #002776 !important;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: $primary-color !important;
   background: #CCCCCC !important;
}

.instruction {
    background-color: #CCCCCC !important;
}

#mastLogin #loginLinks ul a { 
    color: #000000 !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px !important;
}

.Mrphs-topHeader a {
    color: #fff !important;
}

.Mrphs-siteHierarchy a { 
    color: #000 !important;
}
