/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "washjeff"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #59504d;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color: #cec4c4;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #cec4c4;
$tool-border-color:    			 #b2291b;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !important;
$tool-menu-hover-color: #FFFFFF !important; 
$tool-menu-hover-background-color: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%);
$tool-menu-current-background-color: #625855 !important;
$tool-menu-current-color: #FFFFFF !important;
$tool-menu-current-border-color: $primary-color !important;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !important;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !important;
$top-header-background: #FFFFFF !important;
$sites-nav-background: $top-header-background !important;

$breadcrumbs-color:    			 #FFFFFF !important;
$breadcrumbs-tool-color:       		 #FFFFFF !important;
$breadcrumbs-hover-color:      		 #FFFFFF !important;

$tool-nav-link-color: 			 #000000 !important;

/* Link colors */
$link-color: #0064cd;
$link-active-color:#4e5192;
$link-hover-color: $primary-color;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #444444;
$button-border-color: #CCCCCC;
$button-background-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%) !important;
$button-background-secondary-color: #e7e7e7;
/* General button colors */
$button-color-text-color: #2683BC;
$button-color-border-color: #E0E3E5;
$button-color-background-color: -webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color: #e0e0e0;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$topNav-text-color: #000000;

/* This is the gradient in the header of the page */
//$header-gradient-a: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%);
//$header-gradient-b: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%);
//$header-gradient-c: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%);
//$header-gradient-d: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%);

$sites-nav-menu-item-background:            -webkit-linear-gradient(top, #c8bdbd 0%,#d1c7c7 100%) !important;
$sites-nav-menu-item-color:                 #000000 !important;
$sites-nav-menu-item-color-hover:           #000000 !default;
$sites-nav-menu-item-border-top:            none ; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none;
$sites-nav-menu-item-selected-background:   #59504d !important;
$sites-nav-menu-item-selected-color:        #FFFFFF !important;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   none !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !important;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/wjeff.svg';
$logo-height: 66px;
$logo-width: 180px;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

.Mrphs-toolTitleNav a.Mrphs-toolTitleNav__link {
  border-radius: 6px;
}

.Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box {
   border-color: $primary-color !important;
}

.instruction {
    border-color: $primary-color !important;
    background-color: #eeeeee !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem>a {
    border-radius: 3px !important;
}

.Mrphs-siteHierarchy {
    color: #FFFFFF !important;
    background: -webkit-linear-gradient(top, #59504d 0%,#6d625F 100%) !important;
}

.fa-angle-down:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__drop:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__dropdown:before {
    color: #FFFFFF !important;
}

@media only screen and (max-width: 800px) {
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: 140px !important;
    height: 50px !important;
    }
}

#mastLogin #loginForm label {
    color: #000000 !important;
}

.Mrphs-sakai-resources .inactive button span {
    color: #999 !important;
}
