$skin-name : "abhe" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#5B440E !default;
$body-background-color: 		 			#FFFFFF !default;
$background-color-secondary: 		 			#FFFFFF !default;
$text-color:				 		    	#4E4D4E !default;
$topNav-text-color:					    	#000000 !default;
$sites-nav-background: 						#989694;
$skin-with-icons: 						false !important;
$all-sites-tab-active-background-color:				$body-background-color;
$banner-height: 						79px !default;

/* Logo location */
$logo: 								'../images/abhe.png';
$logo-height: 							77px;
$logo-width: 							300px;

// Tab colors
$tool-tab-text-color:			 			#5B440E !default;
$tool-tab-background-color:              			#FFFFFF !default;
$tool-tab-active-text-color:             			#000000 !default;
$tool-tab-active-highlight-color:        			$primary-color !default;
$tool-tab-active-background-color:				$body-background-color !default;

// Breadcrumbs
$breadcrumbs-color:			 			#343434 !default;
$breadcrumbs-tool-color:		 			#343434 !default;
$breadcrumbs-hover-color:		 			#343434 !default;

// Links
$link-color: 				 			#000000 !default;
$link-active-color: 			 			#000000 !default;
$link-hover-color: 			 			#000000 !default;

// Button colors
$button-text-color:	 		 			#FFFFFF !default;
$button-border-color: 			 			#5B440E !default;
$button-background-color: 		 			#5B440E !default;
$button-background-secondary-color: 	 			#5B440E !default;

$button-color-text-color: 		 			#FFFFFF !default;
$button-color-border-color: 		 			#5B440E !default;
$button-color-background-color: 	 			#5B440E !default;
$button-color-background-secondary-color:			#5B440E !default;
// Primary Button Color
$button-primary-background-color:        			#5B440E !default;
$button-primary-text-color: 		 			#FFFFFF !default;
$button-primary-hover-text-color:                   		$button-color-text-color;
$button-primary-hover-background-color:             		$button-color-background-color !default;
$button-primary-hover-border-color:                 		$primary-color;
// Secondary Buttons
$button-secondary-icon-color:                                   $button-primary-text-color;
$button-secondary-text-color:                                   $button-primary-text-color;
$button-secondary-background-color:                             $button-primary-background-color;

// Link , Edit, Help Buttons
$button-secondary-background-color:            			#FFFFFF !default;
$button-secondary-text-color:            			#000000 !default;
$button-secondary-icon-color:            			#000000 !default;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         			#FFFFFF !default;
$sites-nav-menu-item-color:              			#5B440E !default;
$sites-nav-menu-item-icon-color:         			#5B440E !default;

$sites-nav-menu-item-hover-background:         			#FFFFFF !default;
$sites-nav-menu-item-hover-color:              			#5B440E !default;
$sites-nav-menu-item-hover-icon-color:         			#5B440E !default;
//Selected
$sites-nav-menu-item-selected-background:			#5B440E !default;
$sites-nav-menu-item-selected-color:				#FFF !default;
$sites-nav-menu-item-selected-icon-color:			#FFF !default;
$sites-nav-menu-item-selected-border-color: 			#5B440E !default;

$sites-nav-menu-item-selected-hover-background:			#5B440E !default;
$sites-nav-menu-item-selected-hover-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-hovericon-color:			#FFFFFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                          	#FAFAFA;
$tool-menu-background-color:		 			$tool-menu-item-background-color;
$tool-menu-color: 			 			#5B440E !default;
// non-selected hover
$tool-menu-item-hover-text-color:               		#FFF !default;
$tool-menu-item-hover-icon-color:               		#FFF !default;
$tool-menu-item-hover-background-color:         		#4E4E4E !default;
$tool-menu-item-hover-border-left:              		4px solid #B7B192 !default;
// selected
$tool-menu-item-selected-text-color:            		#5B440E !default;
$tool-menu-item-selected-icon-color:            		#5B440E !default;
$tool-menu-item-selected-border-left:           		4px solid #5B440E !default;
$tool-menu-item-selected-background-color:          		#FFF !default;

// submenu
$tool-sub-menu-hover-color:					#B7B192 !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      		#FFF !default;
$tool-menu-item-selected-hover-icon-color:      		#FFF !default;
$tool-menu-item-selected-hover-background-color:		#4E4E4E !default;
$tool-menu-item-selected-hover-border-left:         		4px solid #B7B192 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:  		#FFFFFF !default;
$tool-menu-collapse-active-text-color:             		#5B440E !default;
$tool-sub-menu-hover-color:					#5B440E;
