$skin-name : "cpi" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                                                          '../images/cpi.jpg';
$logo-height:                                                   80px;
$logo-width:                                                    326px;

$banner-height:					       80px;

// Base Colors
$primary-color:         				#162329;
$top-header-background: 				#FFF;
$sites-nav-background: 					#162329;
$topNav-text-color:					#000;
$text-color:						#000;
$become-user-primary:					#CCC;
$lessons-column-border: 				1px solid #ededed;

$tool-tab-active-highlight-color:			#89E200;

// Sites Navigation
$sites-nav-menu-item-background: 			#162329;
$sites-nav-menu-item-color: 				#33ceff;
$sites-nav-menu-item-hover-background: 			#737B7E;
$sites-nav-menu-item-hover-color: 			#33ceff;
	
$sites-nav-menu-item-selected-background: 		#33ceff;
$sites-nav-menu-item-selected-color:        		#000;
$sites-nav-menu-item-selected-border-color: 		#1D72B8;
$sites-nav-menu-item-selected-hover-background: 	#D6F5FF;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;
$tool-menu-item-text-color:                    		#000;

$tool-menu-item-selected-text-color:                    #000;
$tool-menu-item-selected-icon-color:                    #000;
$tool-menu-item-selected-background-color:              #33ceff;

/* Tool sub menu */
$tool-sub-menu-border-color: 				#fff;
$tool-sub-menu-background-color: 			#FAFAFA;


/* Tool menu - lessons subpage menu enabled - top level pages */
$tool-lessons-toplevel-menu-selected-background-color: $tool-menu-item-selected-background-color;
$tool-lessons-toplevel-menu-expanded-background-color: $tool-menu-item-background-color;
$tool-lessons-toplevel-menu-expanded-selected-background-color: $tool-menu-item-selected-background-color;
//$tool-lessons-toplevel-menu-sliding-background-color: $tool-menu-item-selected-background-color !default;

/* Tool menu - lessons subpage menu enabled - sub pages */
$tool-lessons-subpage-menu-selected-background-color: $tool-menu-item-selected-background-color !default;
$tool-lessons-subpage-menu-selected-parent-background-color: $tool-menu-item-selected-background-color !default;
$tool-lessons-subpage-menu-expanded-background-color: $tool-menu-item-background-color !default;

// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-border-color:         		#162329;
$button-primary-hover-text-color:      			#162329;

// Links
$link-color:                                            #2a94c0 !default;
$link-active-color:                                     #2a94c0 !default;
$link-hover-color:                                      #4e5192 !default;

//CUSTOM CSS OVERRIDES

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: #162329 !important;
    }
    .Mrphs-siteHierarchy a {
	color: #162329 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: #162329 !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid #33ceff;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid #33ceff;
}

#toolMenuWrap .img_site_toolmenu {
    display: none;
}

.bs-callout-primary, .validationEmbedded, .validation, .Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
    background-color: #FAFAFA !important;
    border-color: #162329 !important;
    border-left-color: #162329 !important;
}
