$skin-name : "durham" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#028546 !default;
$body-background-color: 		 			#FFFFFF !default;
$background-color-secondary: 		 			#FFF !default;
$text-color:				 		    	#222 !default;
$topNav-text-color:					    	#000 !default;
$sites-nav-background: 						#262626;
$sites-nav-submenu-item-background:				#FAFAFA;

/* Logo location */
$logo: 								'../images/durham.svg';
$logo-height: 							50px;
$logo-width: 							275px;

// Tab colors
$tool-tab-text-color:			 			#300 !default;
$tool-tab-background-color:              			#FAFAFA !default;
$tool-tab-active-text-color:             			#028546 !default;
$tool-tab-active-highlight-color:        			#028546 !default;
$tool-tab-active-background-color:				#fff !default;

// Breadcrumbs
$breadcrumbs-color:			 			#000 !default;
$breadcrumbs-tool-color:		 			#000 !default;
$breadcrumbs-hover-color:		 			#000 !default;

// Links
$link-color: 				 			#2E94C0 !default;
$link-active-color: 			 			#2E94C0 !default;
$link-hover-color: 			 			#2E94C0 !default;

// Primary Button Color
$button-primary-background-color:        			#028546 !default;
$button-primary-text-color: 		 			#FFF !default;

// Non Selected
$sites-nav-menu-item-background:         			#262626 !default;
$sites-nav-menu-item-color:              			#FFF !default;
$sites-nav-menu-item-icon-color:         			#FFF !default;

$sites-nav-menu-item-hover-background:         			#262626 !default;
$sites-nav-menu-item-hover-color:              			#FFF !default;
$sites-nav-menu-item-icon-color:         			#FFF !default;
//Selected
$sites-nav-menu-item-selected-background:			#028546 !default;
$sites-nav-menu-item-selected-color:				#FFFFFF !default;
$sites-nav-menu-item-selected-icon-color:			#FFFFFF !default;

$sites-nav-menu-item-selected-hover-background:			#028546 !default;
$sites-nav-menu-item-selected-hover-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-hovericon-color:			#FFFFFF !default;

// TOOL MENU COLORS
// non-selected hover
$tool-menu-item-hover-text-color:               		#FFF !default;
$tool-menu-item-hover-icon-color:               		#FFFFFF !default;
$tool-menu-item-hover-background-color:         		#028546 !default;
$tool-menu-item-hover-border-left:              		4px solid #028546 !default;
// selected
$tool-menu-item-selected-text-color:            		#028546 !default;
$tool-menu-item-selected-icon-color:            		#028546 !default;
$tool-menu-item-selected-border-left:           		4px solid #028546 !default;
$tool-menu-item-selected-background-color:          		#FFF !default;

#Mrphs-userNav__submenuitem--connections {
    display: none !important;
}

#toolHolderWW > div > div.col-md-4 > div.portalNeochatToggleArea {
    display: none !important;
}


@media only screen and (max-width: 800px) {
    .Mrphs-siteHierarchy a {
        color: #FFF !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
        color: #2E94C0 !important;
    }
    .Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
        width: 153px !important;
        background-size: 153px 50px !important;
    }
    #mastLogin {
        width: calc(100% - 153px) !important;
    }
}
