$skin-name : "huc" !default; // This is used for bootstrap font behaviour.
$banner-height: 80px !default;

// Main Colors
$primary-color:    			 		#00334c !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#00334c !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#ebebeb;
$tool-border-color:                                     #00334c !default;
$tool-menu-background-color:                            #FFF !default;
$all-sites-tab-text-color:				#FFF !default;

/* Logo location */
$logo: 							'../images/huc.svg';
$logo-height: 						78px;
$logo-width: 						280px;

// Tab colors
$tool-tab-text-color:			 		#FFF;
$tool-tab-background-color:              		#00334c !default;
$tool-tab-active-text-color:             		#00334c !default;
$tool-tab-active-highlight-color:        		#00334c !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color: 				 		#2a94c0 !default;
$link-active-color: 			 		#2a94c0 !default;
$link-hover-color: 			 		#2A94FE !default;

// Button colors 
$button-text-color:	 		 		#000000 !default;
$button-border-color: 			 		#00334c !default;
$button-background-color: 		 		#FFF !default;
$button-background-secondary-color: 	 		#FFFFFF !default;
$button-color-border-color: 		 		#4a8db3 !default;
$button-color-background-color: 	 		#868686 !default;
$button-color-background-secondary-color:		#868686 !default;
// Primary Button Color
$button-primary-background-color:        		#00334c !default;
$button-primary-text-color: 		 		#FFF !default;
$button-primary-hover-text-color:                       #00334c !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     $primary-color;
// Secondary Buttons
$button-secondary-icon-color:                           #00334c !default; 
$button-secondary-text-color:                           #00334c !default;;
$button-secondary-background-color:                     #FFF !default;;

// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#00334c !default;
$sites-nav-menu-item-color:              		#FFF !default;
$sites-nav-menu-item-icon-color:         		#FFF !default;
//Selected
$sites-nav-menu-item-selected-background:		#0054a0 !default;
$sites-nav-menu-item-selected-color:			#FFF !default;
$sites-nav-menu-item-selected-icon-color:	 	#FFF !default;
$sites-nav-menu-item-selected-hover-background: 	#00334c !default;
$sites-nav-menu-item-selected-hover-color:      	#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFF !default;
$sites-nav-menu-item-selected-border-color: 		#FFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-text-color:                       	#424242 !default;
$tool-menu-item-icon-color:                       	#424242 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#FFF !default;
$tool-menu-item-hover-icon-color:               	#FFF !default;
$tool-menu-item-hover-background-color:         	#0054a0 !default;
$tool-menu-item-hover-border-left:              	4px solid #0054a0 !default;
// selected
$tool-menu-item-selected-background-color:            	#00334c !default;
$tool-menu-item-selected-text-color:            	#FFF !default;
$tool-menu-item-selected-icon-color:            	#FFF !default;
$tool-menu-item-selected-border-left:           	4px solid #00334c !default;
// submenu
$tool-sub-menu-hover-color:				#00334c !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFF !default;
$tool-menu-item-selected-hover-background-color:	#0054a0 !default;
$tool-menu-item-selected-hover-border-left:             4px solid #0054a0 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #00334c !default;
$tool-menu-collapse-active-text-color:                  #00334c !default;
$tool-sub-menu-hover-color:				#FFF; 

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

.navIntraTool li span.current a {
    background: #FFF;
    color: #00334c;
}

#selectSite .tab-box, #selectQuickLink .tab-box {
    background-color: #f5f5f5 !important;
}

#favorite-settings-pane button[aria-checked="true"] :first-child, #favorite-settings-pane button[aria-checked="false"] :last-child {
    background-color: $primary-color !important;
}

.Mrphs-multipleTools .Mrphs-toolTitleNav .Mrphs-toolTitleNav__title {
    color: #fff;
}

#mastLogin #loginLinks ul {
    background-color: #FFF !important;
}
