$skin-name : "huc" !default; // This is used for bootstrap font behaviour.
$banner-height: 80px !default;

$background-color-secondary: #00334c !default;

/* Logo location */
$logo:                                                  '../images/huc.png';
$logo-height:                                           72px;
$logo-width:                                            390px;
