$skin-name : "ico" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#0096cb !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#7A8189 !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#0095cb !default;
$banner-height:						75px;

/* Logo location */
$logo: 							'../images/ico.svg';
$logo-height: 						75px;
$logo-width: 						158px;

// Tab colors
$tool-tab-text-color:			 		#000000;
$tool-tab-background-color:              		#ececec !default;
$tool-tab-active-text-color:             		#000000 !default;
$tool-tab-active-highlight-color:        		#0095cb !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color: 				 		#0064cd !default;
$link-active-color: 			 		#4e5192 !default;
$link-hover-color: 			 		$primary-color;

// Button colors 
$button-text-color:	 		 		#444 !default;
$button-border-color: 			 		#CCC !default;
$button-background-color: 		 		-webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
$button-background-secondary-color: 	 		#e7e7e7 !default;
$button-color-border-color: 		 		#E0E3E5 !default;
$button-color-background-color: 	 		-webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color:		#e0e0e0 !default;
// Primary Button Color
$button-primary-background-color:        		#7A8189 !default;
$button-primary-text-color: 		 		#FFF !default;
$button-primary-hover-text-color:                       #000 !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     $primary-color;
// Secondary Buttons
$button-secondary-icon-color:                           #666 !default; 
$button-secondary-text-color:                           #666 !default;;
$button-secondary-background-color:                     #ececec !default;;

// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#7a8189 !default; 
$sites-nav-menu-item-color:              		#FFF !default;
$sites-nav-menu-item-icon-color:         		#FFF !default;
$sites-nav-menu-item-border-color:         		none !default;
$sites-nav-menu-item-hover-background:              	#7a8189 !default;
$sites-nav-menu-item-hover-color:              		#FFF !default;
$sites-nav-menu-item-icon-hover-color:         		#FFF !default;
//Selected
$sites-nav-menu-item-selected-background:		#0095cb !default;
$sites-nav-menu-item-selected-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-icon-color:	 	#FFFFFF !default;
$sites-nav-menu-item-selected-hover-background: 	#0095cb !default;
$sites-nav-menu-item-selected-hover-color:      	#FFFFFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFFFFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                       #ececec !important;
$tool-menu-item-text-color:                       	#444 !default;
$tool-menu-item-icon-color:                       	#444 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#FFF !default;
$tool-menu-item-hover-icon-color:               	#FFF !default;
$tool-menu-item-hover-background-color:         	-webkit-linear-gradient(top, #0080bc 0%,#0098cd 100%) !important;
$tool-menu-item-hover-border-left:              	4px solid #7a8189 !default;
// selected
$tool-menu-item-selected-background-color:            	#ececec !important;
$tool-menu-item-selected-text-color:            	#0096cb !default;
$tool-menu-item-selected-icon-color:            	#0096cb !default;
$tool-menu-item-selected-border-left:           	4px solid #0096cb !default;
// submenu
$tool-sub-menu-hover-color:				#0096cb !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFF !default;
$tool-menu-item-selected-hover-background-color:	-webkit-linear-gradient(top, #0080bc 0%,#0098cd 100%) !important;
$tool-menu-item-selected-hover-border-left:             4px solid #0096cb !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #0096cb !default;
$tool-menu-collapse-active-text-color:                  #0096cb !default;
$tool-sub-menu-hover-color:				#fff; 

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

.Mrphs-sakai-resources a.nil.fa-folder::after {
    margin: 0.45em 0 0 -3.4em !important;
}

.navIntraTool li span.current a {
    background: #FFF;
    color: #000;
}

#favorite-settings-pane button[aria-checked="true"] :first-child, #favorite-settings-pane button[aria-checked="false"] :last-child {
    background-color: $primary-color !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
        color: #000 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
        color: #0064cd !important;
    }
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--link, #subSites ul li .Mrphs-toolsNav__menuitem--link, .floatingToolMenu ul li .Mrphs-toolsNav__menuitem--link {
    background-color: #ececec !important;
}
