$skin-name : "kp" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#00625c !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#FFF !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#000 !default;
$sites-nav-background: 					#f1f1f1 !default;
$banner-height:						107px;

/* Logo location */
$logo: 							'../images/kp.svg';
$logo-height: 						107px;
$logo-width: 						369px;

// Tab colors
$tool-tab-text-color:			 		#00625c;
$tool-tab-background-color:              		#F1F1F1 !default;
$tool-tab-active-text-color:             		#00625c !default;
$tool-tab-active-highlight-color:        		#00625c !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color: 				 		#0064cd !default;
$link-active-color: 			 		#4e5192 !default;
$link-hover-color: 			 		$primary-color;

// Button colors 
$button-text-color:	 		 		#444 !default;
$button-border-color: 			 		#CCC !default;
$button-background-color: 		 		-webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
$button-background-secondary-color: 	 		#e7e7e7 !default;
$button-color-border-color: 		 		#E0E3E5 !default;
$button-color-background-color: 	 		-webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color:		#e0e0e0 !default;
// Primary Button Color
$button-primary-background-color:        		#00625c !default;
$button-primary-text-color: 		 		#FFF !default;
$button-primary-hover-text-color:                       #00625c !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     $primary-color;
// Secondary Buttons
$button-secondary-icon-color:                           #FFF !default; 
$button-secondary-text-color:                           #FFF !default;;
$button-secondary-background-color:                     #00625c !default;;

// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#00625c !default; 
$sites-nav-menu-item-color:              		#FFF !default;
$sites-nav-menu-item-icon-color:         		#FFF !default;
$sites-nav-menu-item-hover-background:              	#00625c !default;
$sites-nav-menu-item-hover-color:              		#FFF !default;
$sites-nav-menu-item-icon-hover-color:         		#FFF !default;
//Selected
$sites-nav-menu-item-selected-background:		#F1F1F1 !default;
$sites-nav-menu-item-selected-color:			#4a762b !default;
$sites-nav-menu-item-selected-icon-color:	 	#4a762b !default;
$sites-nav-menu-item-selected-hover-background: 	#F1F1F1 !default;
$sites-nav-menu-item-selected-hover-color:      	#4a762b !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#4a762b !default;
$sites-nav-menu-item-selected-border-color: 		#4a762b !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                       #FFF !default;
$tool-menu-item-text-color:                       	#444 !default;
$tool-menu-item-icon-color:                       	#444 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#FFF !default;
$tool-menu-item-hover-icon-color:               	#FFF !default;
$tool-menu-item-hover-background-color:         	#00625c !default;
$tool-menu-item-hover-border-left:              	4px solid #00625c !default;
// selected
$tool-menu-item-selected-background-color:            	#00625c !default;
$tool-menu-item-selected-text-color:            	#FFF !default;
$tool-menu-item-selected-icon-color:            	#FFF !default;
$tool-menu-item-selected-border-left:           	4px solid #00625c !default;
// submenu
$tool-sub-menu-hover-color:				#00625c !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFF !default;
$tool-menu-item-selected-hover-background-color:	#00625c !default;
$tool-menu-item-selected-hover-border-left:             4px solid #00625c !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #00625c !default;
$tool-menu-collapse-active-text-color:                  #00625c !default;
$tool-sub-menu-hover-color:				#fff; 

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

#favorite-settings-pane button[aria-checked="true"] :first-child, #favorite-settings-pane button[aria-checked="false"] :last-child {
    background-color: $primary-color !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
        color: #000 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
        color: #0064cd !important;
    }
}
