$skin-name : "lcmc" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                                                 '../images/lcmc.png';
$logo-height:                                          70px;
$logo-width:                                           138px;
$banner-height:					       75px;

// Base Colors
$primary-color:         				#052449;
$top-header-background: 				#052449;
$sites-nav-background: 					#FFF;
$topNav-text-color:					#FFF;
$text-color:						#000;

$tool-tab-active-highlight-color:			#052449;

// Sites Navigation
$sites-nav-menu-item-background: 			#FFF;
$sites-nav-menu-item-color: 				#052449;
$sites-nav-menu-item-hover-background: 			#E1E1E1;
//$sites-nav-menu-item-hover-color: 			#FFF;
	
$sites-nav-menu-item-selected-background: 		#052449;
$sites-nav-menu-item-selected-color:        		#FFF;
$sites-nav-menu-item-selected-border-color: 		#FFF;
$sites-nav-menu-item-selected-hover-background: 	#374F6D;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;
$tool-menu-item-text-color:                    		#000;

$tool-menu-item-selected-text-color:                    #FFF;
$tool-menu-item-selected-icon-color:                    #FFF;
$tool-menu-item-selected-background-color:              #052449;


// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-border-color:         		#052449;
$button-primary-hover-text-color:      			#052449;

// Links
$link-color:                                            #2a94c0 !default;
$link-active-color:                                     #2a94c0 !default;
$link-hover-color:                                      #4e5192 !default;

//CUSTOM CSS OVERRIDES

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: #052449 !important;
    }
    .Mrphs-siteHierarchy a {
	color: #fff !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border-top: 1px solid #052449;
    border-bottom: 1px solid #052449;
    border-right: 1px solid #052449;
    border-left: 1px solid #052449;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid #052449;
}

#toolMenuWrap .img_site_toolmenu {
    display: none;
}
