$skin-name : "lotk" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                                                  '../images/lotk.png';
$logo-height:                                           88px;
$logo-width:                                            467px;

// Base Colors
$primary-color:         				#0a4f6c;
$top-header-background: 				#0a4f6c;
$sites-nav-background: 					#fafafa;
$topNav-text-color:					#FFF;
$banner-height:						88px;

$tool-tab-active-highlight-color:			#f57d20;

// Sites Navigation
$sites-nav-menu-item-background: 			#056a98;
$sites-nav-menu-item-color: 				#FFF;
$sites-nav-menu-item-hover-background: 			#067bb1;
$sites-nav-menu-item-hover-color: 			#000;
	
$sites-nav-menu-item-selected-background: 		#f57d20;
$sites-nav-menu-item-selected-hover-background: 	#F9B079;
$sites-nav-menu-item-selected-color:        		#FFF;
$sites-nav-menu-item-selected-border-color: 		#FFF;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;

$tool-menu-item-selected-text-color:                    #FFF;
$tool-menu-item-selected-icon-color:                    #FFF;
$tool-menu-item-selected-background-color:              #f57d20;


// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-border-color:         		#0a4f6c;
$button-primary-hover-text-color:      			#0a4f6c;

// Links
$link-color:                                            #2a94c0 !default;
$link-active-color:                                     #2a94c0 !default;
$link-hover-color:                                      #4e5192 !default;

//CUSTOM CSS OVERRIDES
/*
#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid #008c99;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid #e5f6f9;
}


.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    background: transparent !important;
}
*/
