$skin-name : "nashotah" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#0F243F !default;
$body-background-color: 		 			#CCCCCC !default;
$background-color-secondary: 		 			#0F243F !default;
$text-color:				 		    	#000000 !default;
$topNav-text-color:					    	#FFF !default;
$sites-nav-background: 						#003a62;
$skin-with-icons: 						false !important;
$all-sites-tab-active-background-color:				#ededed;
$banner-height:							72px;
$sites-nav-submenu-background-color:				#FAFAFA;

/* Logo location */
$logo: 								'../images/nashotah.png';
$logo-height: 							70px;
$logo-width: 							388px;

// Tab colors
$tool-tab-text-color:			 			#0D2B50 !default;
$tool-tab-background-color:              			#FAFAFA !default;
$tool-tab-active-text-color:             			#0F243F !default;
$tool-tab-active-highlight-color:        			$primary-color !default;
$tool-tab-active-background-color:				#FAFAFA !default;

// Breadcrumbs
$breadcrumbs-color:			 			#424242 !default;
$breadcrumbs-tool-color:		 			#424242 !default;
$breadcrumbs-hover-color:		 			#424242 !default;

// Links
$link-color: 				 			#000000 !default;
$link-active-color: 			 			#000000 !default;
$link-hover-color: 			 			#000000 !default;

// Button colors
$button-text-color:	 		 			#FFFFFF !default;
$button-border-color: 			 			#0D2B50 !default;
$button-background-color: 		 			#f0f0f0 !default;
$button-background-secondary-color: 	 			#0D2B50 !default;

$button-color-text-color: 		 			#FFFFFF !default;
$button-color-border-color: 		 			#FFFFFF !default;
$button-color-background-color: 	 			#2a94c0 !default;
$button-color-background-secondary-color:			#0D2B50 !default;
// Primary Button Color
$button-primary-background-color:        			#2a94c0 !default;
$button-primary-text-color: 		 			#FFFFFF !default;
$button-primary-hover-text-color:                   		$button-color-text-color;
$button-primary-hover-background-color:             		$button-color-background-color !default;
$button-primary-hover-border-color:                 		$primary-color;
// Secondary Buttons
$button-secondary-icon-color:                                   $button-primary-text-color;
$button-secondary-text-color:                                   $button-primary-text-color;
$button-secondary-background-color:                             $button-primary-background-color;

// Link , Edit, Help Buttons
$button-secondary-background-color:            			#FFFFFF !default;
$button-secondary-text-color:            			#CCCCCC !default;
$button-secondary-icon-color:            			#CCCCCC !default;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         			#FFFFFF !default;
$sites-nav-menu-item-color:              			#0D2B50 !default;
$sites-nav-menu-item-icon-color:         			#0D2B50 !default;

$sites-nav-menu-item-hover-background:         			#FFFFFF !default;
$sites-nav-menu-item-hover-color:              			#0D2B50 !default;
$sites-nav-menu-item-hover-icon-color:         			#0D2B50 !default;
//Selected
$sites-nav-menu-item-selected-background:			#154C7A !default;
$sites-nav-menu-item-selected-color:				#FFFFFF !default;
$sites-nav-menu-item-selected-icon-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-border-color: 			#FFF !default;

$sites-nav-menu-item-selected-hover-background:			#154C7A !default;
$sites-nav-menu-item-selected-hover-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-hover-icon-color:			#FFFFFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                          	#FAFAFA;
$tool-menu-background-color:		 			$tool-menu-item-background-color;
$tool-menu-color: 			 			#0D2B50 !default;
$tool-border-color:			 			#8A6D83 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               		#0F243F !default;
$tool-menu-item-hover-icon-color:               		#0F243F !default;
$tool-menu-item-hover-background-color:         		#FFF !default;
$tool-menu-item-hover-border-left:              		4px solid #0F243F !default;
// selected
$tool-menu-item-selected-text-color:            		#0F243F !default;
$tool-menu-item-selected-icon-color:            		#0F243F !default;
$tool-menu-item-selected-border-left:           		4px solid #0F243F !default;
$tool-menu-item-selected-background-color:          		#FFF !default;

// submenu
$tool-sub-menu-hover-color:					#CCCCCC !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      		#0F243F !default;
$tool-menu-item-selected-hover-icon-color:      		#0F243F !default;
$tool-menu-item-selected-hover-background-color:		#FFF !default;
$tool-menu-item-selected-hover-border-left:         		4px solid #0F243F !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:  		#FFFFFF !default;
$tool-menu-collapse-active-text-color:             		#0D2B50 !default;
$tool-sub-menu-hover-color:					#0D2B50;

// info message colors
$info-background-color:   					$body-background-color;
$info-color:                					$primary-color  !default;

$error-background-color:    					#F2DEDE !default;
$ok-color:                  					#DFF0D8 !default;
$warn-background-color:     					#FCF8E3 !default;

#toolMenuWrap .img_site_toolmenu {
    display: none;
}
