/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "ceath"; // This is used for bootstrap font behaviour.

$break-small-end:      	800px;
$break-medium-end:     	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;    										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;     										// 400 or 700 as you wish

/* Color palette */
$background-color: #FFFFFF;

$primary-color:                          #033a12;
$text-color:                             #000000;

$portal-background-color: $background-color;

$tool-background-color:		 $background-color;
$tool-menu-background-color: #FFFFFF;
$tool-menu-color:      			 #444444;
$tool-tab-background-color:    			 #FFFFFF;
$tool-border-color:    			 #002f05;
$tool-tab-active-background-color:     			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !default;
$tool-menu-hover-color:  #002f05 !default;
$tool-menu-hover-background-color: #EEEEEE !default;
$tool-menu-current-background-color: #EEEEEE !default;
$tool-menu-current-color: #002f05 !default;
$tool-menu-current-border-color: $primary-color !default;
$tool-sub-menu-border-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-background-color: lighten( $text-color, 5% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !default;
$top-header-background: #033a12;
$sites-nav-background: $top-header-background !default;

$breadcrumbs-color:    			 #000000 !default;
$breadcrumbs-tool-color:       		 #000000 !default;
$breadcrumbs-hover-color:      		 #000000 !default;

$topNav-text-color:			#FFFFFF;

/* Link colors */
$link-color: #0064cd;
$link-active-color:#4e5192;
$link-hover-color: $primary-color;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:    	 #444444;
$button-border-color: #CCCCCC;
$button-background-color: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
$button-background-secondary-color: #e7e7e7;;
/* General button colors */
$button-color-text-color: #006082;
$button-color-border-color: #E5E0D9;
$button-color-background-color: -webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%);
$button-color-background-secondary-color: #e0e0e0;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$topNav-text-color: #FFFFFF;

/* This is the gradient in the header of the page */
$header-gradient-a: #d7e4c7;
$header-gradient-b: #d7e4c7;
$header-gradient-c: #d7e4c7;
$header-gradient-d: #d7e4c7;

$sites-nav-menu-item-background:            #033a12 !default;
$sites-nav-menu-item-color:                 #FFFFFF !default;
$sites-nav-menu-item-color-hover:           #FFFFFF !default;
$sites-nav-menu-item-border-top:            none; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none;
$sites-nav-menu-item-selected-background:   #d7e4c7 !default;
$sites-nav-menu-item-selected-color:        #002f05 !default;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   none !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: '../images/nwscc.svg';
$logo-height: 50px;
$logo-width: 170px;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

  #loginLink1 {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ededed;
    color: #000;
    border-radius: 3px;
    padding: 8px;
  }
  #loginLinksImage #loginLink2 {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
    display: block;
  }
  #loginLinksImage #loginLink2:hover {
    color: #ccc;
  }
