$skin-name : "ohiovalley" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#474747 !default;
$body-background-color: 		 			#CCCCCC !default;
$background-color-secondary: 		 			#002a6c !default;
$text-color:				 		    	#000000 !default;
$topNav-text-color:					    	#FFFFFF !default;
$sites-nav-background: 						#cce0ff;
$skin-with-icons: 						false !important;
$all-sites-tab-active-background-color:				#FAFAFA;

/* Logo location */
$logo: 								'../images/ohiovalley.png';
$logo-height: 							52px;
$logo-width: 							208px;

// Tab colors
$tool-tab-text-color:			 			#000000 !default;
$tool-tab-background-color:              			#FAFAFA !default;
$tool-tab-active-text-color:             			#002a6c !default;
$tool-tab-active-highlight-color:        			#002a6c !default;
$tool-tab-active-background-color:				#cce0ff !default;

// Breadcrumbs
$breadcrumbs-color:			 			#000000 !default;
$breadcrumbs-tool-color:		 			#000000 !default;
$breadcrumbs-hover-color:		 			#474747 !default;

// Links
$link-color: 				 			#000000 !default;
$link-active-color: 			 			#000000 !default;
$link-hover-color: 			 			#000000 !default;

// Button colors
$button-text-color:	 		 			#000000 !default;
$button-border-color: 			 			#011D62 !default;
$button-background-color: 		 			#F0F0F0 !default;
$button-background-secondary-color: 	 			#4F6DAA !default;

$button-color-text-color: 		 			#000000 !default;
$button-color-border-color: 		 			#011D62 !default;
$button-color-background-color: 	 			#2A94C0 !default;
$button-color-background-secondary-color:			#011D62 !default;
// Primary Button Color
$button-primary-background-color:        			#2A94C0 !default;
$button-primary-text-color: 		 			#000000 !default;
$button-primary-hover-text-color:                   		$button-color-text-color;
$button-primary-hover-background-color:             		$button-color-background-color !default;
$button-primary-hover-border-color:                 		$primary-color;
// Secondary Buttons
$button-secondary-icon-color:                                   $button-primary-text-color;
$button-secondary-text-color:                                   $button-primary-text-color;
$button-secondary-background-color:                             $button-primary-background-color;

// Link , Edit, Help Buttons
$button-secondary-background-color:            			#cce0ff !default;
$button-secondary-text-color:            			#000000 !default;
$button-secondary-icon-color:            			#000000 !default;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         			#FFFFFF !default;
$sites-nav-menu-item-color:              			#000000 !default;
$sites-nav-menu-item-icon-color:         			#000000 !default;

$sites-nav-menu-item-hover-background:         			#FFFFFF !default;
$sites-nav-menu-item-hover-color:              			#000000 !default;
$sites-nav-menu-item-hover-icon-color:         			#000000 !default;
//Selected
$sites-nav-menu-item-selected-background:			#c1300c !default;
$sites-nav-menu-item-selected-color:				#FFF !default;
$sites-nav-menu-item-selected-icon-color:			#FFF !default;
$sites-nav-menu-item-selected-border-color: 			#FFF !default;

$sites-nav-menu-item-selected-hover-background:			#c1300c !default;
$sites-nav-menu-item-selected-hover-color:			#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color:			#FFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                          	#FAFAFA;
$tool-menu-background-color:		 			$tool-menu-item-background-color;
$tool-menu-color: 			 			#000000 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               		#FFF !default;
$tool-menu-item-hover-icon-color:               		#FFF !default;
$tool-menu-item-hover-background-color:         		#c1300c !default;
$tool-menu-item-hover-border-left:              		4px solid #c1300c !default;
// selected
$tool-menu-item-selected-text-color:            		#c1300c !default;
$tool-menu-item-selected-icon-color:            		#c1300c !default;
$tool-menu-item-selected-border-left:           		4px solid #c1300c !default;
$tool-menu-item-selected-background-color:          		#FFF !default;

// submenu
$tool-sub-menu-hover-color:					#000000 !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      		#FFF !default;
$tool-menu-item-selected-hover-icon-color:      		#FFF !default;
$tool-menu-item-selected-hover-background-color:		#c1300c !default;
$tool-menu-item-selected-hover-border-left:         		4px solid #c1300c !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:  		#cce0ff !default;
$tool-menu-collapse-active-text-color:             		#000000 !default;
$tool-sub-menu-hover-color:					#000000;

// info message colors
$info-background-color:   					$body-background-color;
$info-color:                					$primary-color  !default;

$error-background-color:    					#F2DEDE !default;
$ok-color:                  					#DFF0D8 !default;
$warn-background-color:     					#FCF8E3 !default;
