$skin-name : "rwu" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                  				'../images/rwu.svg';
$logo-height:           				50px;
$logo-width:            				111px;

// Base Colors
$primary-color:         				#002f55;
$background-color-secondary: 				#002f55;
$top-header-background: 				#002f55;
$sites-nav-background:					#002f55;

// Sites Navigation
$sites-nav-menu-item-background: 			#002f55;
$sites-nav-menu-item-color: 				#FFF;
$sites-nav-menu-item-border-color: 			none;
$sites-nav-menu-item-hover-background: 			#84bce7;
$sites-nav-menu-item-hover-color: 			#000;
	
$sites-nav-menu-item-selected-background: 		#FFF;
$sites-nav-menu-item-selected-color:        		#00355f;
$sites-nav-menu-item-selected-border-color: 		#00355f;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;
$tool-menu-item-text-color:                             #333333;
$tool-menu-item-icon-color:                             #666666;

$tool-menu-item-hover-text-color:                       #FFF;
$tool-menu-item-hover-icon-color:                       #FFF;
$tool-menu-item-hover-background-color:                 #00355f;

$tool-menu-item-selected-text-color:                    #002f55;
$tool-menu-item-selected-icon-color:                    #002f55;
$tool-menu-item-selected-background-color:              #FFF;

$tool-menu-item-selected-hover-text-color:              #FFF;
$tool-menu-item-selected-hover-icon-color:              #FFF;
$tool-menu-item-selected-hover-background-color:        #00355f;


// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-text-color:         		#002f55;
$button-primary-hover-border-color:         		#002f55;


// Customizations

.bs-callout-primary, .validationEmbedded, .validation, .Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
    background-color: #FAFAFA !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-siteHierarchy a {
        color: #FFF !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
        color: #002f55 !important;
    }
}

#delivAssessmentWrapper div.sak-banner-error { clear: both }

.Mrphs-sitesNav__menuitem.view-all-sites-btn a:after {
    content: "My Courses";
}
