$skin-name : "sgu" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#000000 !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#FFF !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#000 !default;
$sites-nav-background: 					#f3f3f3 !default;

/* Logo location */
$logo: 							'../images/sgu.svg';
$logo-height: 						50px;
$logo-width: 						268px;

// Tab colors
$tool-tab-text-color:			 		#000;
$tool-tab-background-color:              		#ebebeb !default;
$tool-tab-active-text-color:             		#c75b06 !default;
$tool-tab-active-highlight-color:        		#c75b06 !default;
$tool-tab-active-background-color:			#FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links
$link-color: 				 		#0064cd !default;
$link-active-color: 			 		#4e5192 !default;
$link-hover-color: 			 		#c75b06 !default;

// Button colors
$button-text-color:	 		 		#444444 !default;
$button-border-color: 			 		#CCCCCC !default;
$button-background-color: 		 		#FFFFFF !default;
$button-background-secondary-color: 	 		#FFFFFF !default;
$button-color-border-color: 		 		#CCCCCC !default;
$button-color-background-color: 	 		#FFFFFF !default;
$button-color-background-secondary-color:		#FFFFFF !default;
$button-primary-hover-text-color:			#c75b06;
$button-primary-hover-border-color:			#c75b06;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         		-webkit-linear-gradient(top, #a4a4a4 0%,#7a7a7a 100%) !default;
$sites-nav-menu-item-color:              		#FFFFFF !default;
$sites-nav-menu-item-icon-color:         		#FFFFFF !default;
$sites-nav-menu-item-border-color:         		none !default;
//Selected
$sites-nav-menu-item-selected-background:		#971A20 !default;
$sites-nav-menu-item-selected-color:			#FFF !default;
$sites-nav-menu-item-selected-hover-background: 	#971A20 !default;
$sites-nav-menu-item-selected-hover-color:      	#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFF !default;
$sites-nav-menu-item-selected-border-color: 		#FFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:			#f3f3f3 !default;
$tool-menu-item-color:					#555 !default;
$tool-menu-item-icon-color:				#555 !default;

// non-selected hover
$tool-menu-item-hover-text-color:               	#f05525 !default;
$tool-menu-item-hover-icon-color:               	#f05525 !default;
$tool-menu-item-hover-background-color:         	#FFF;
$tool-menu-item-hover-border-left:              	4px solid #f05525 !default;
// selected
$tool-menu-item-selected-text-color:            	#f05525 !default;
$tool-menu-item-selected-icon-color:            	#f05525 !default;
$tool-menu-item-selected-border-left:           	4px solid #f05525 !default;
// submenu
$tool-sub-menu-hover-color:				#f05525 !default;
$tool-sub-menu-current-hover-background-color:		#FFF;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-background-color:	#f05525 !default;
$tool-menu-item-selected-hover-border-left:             4px solid #f05525 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #f05525 !default;
$tool-menu-collapse-active-text-color:                  #f05525 !default;
$tool-sub-menu-hover-color:				#000;


// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

.navIntraTool li span.current a {
    background: #062F4B;
    color: #fff;
}
