$skin-name : "tennesseewesleyan" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		  	#0033a0 !default;
$body-background-color: 		 			#FFFFFF !default;
$background-color-secondary: 		 			#0033A0 !default;
$text-color:				 		    	#4E4D4E !default;
$topNav-text-color:					    	#FFFFFF !default;
$sites-nav-background: 						#FAFAFA;
$skin-with-icons: 						false !important;
$all-sites-tab-active-background-color:				$body-background-color;
$sites-nav-submenu-item-background:				#FAFAFA;

/* Logo location */
$logo: 								'../images/tennesseewesleyan.jpg';
$logo-height: 							50px;
$logo-width: 							249px;

// Tab colors
$tool-tab-text-color:			 			#343434 !default;
$tool-tab-background-color:              			#FAFAFA !default;
$tool-tab-active-text-color:             			#0033a0 !default;
$tool-tab-active-highlight-color:        			$primary-color !default;
$tool-tab-active-background-color:				#FAFAFA !default;

// Breadcrumbs
$breadcrumbs-color:			 			#343434 !default;
$breadcrumbs-tool-color:		 			#343434 !default;
$breadcrumbs-hover-color:		 			#343434 !default;

// Links
$link-color: 				 			#000000 !default;
$link-active-color: 			 			#000000 !default;
$link-hover-color: 			 			#000000 !default;

// Button colors
$button-text-color:	 		 			#FFFFFF !default;
$button-border-color: 			 			#0033a0 !default;
$button-background-color: 		 			#2681B5 !default;
$button-background-secondary-color: 	 			#225377 !default;

$button-color-text-color: 		 			#FFFFFF !default;
$button-color-border-color: 		 			#000000 !default;
$button-color-background-color: 	 			#0033a0 !default;
$button-color-background-secondary-color:			#2681B5 !default;
// Primary Button Color
$button-primary-background-color:        			#0033a0 !default;
$button-primary-text-color: 		 			#FFFFFF !default;
$button-primary-hover-text-color:                   		$button-color-text-color;
$button-primary-hover-background-color:             		$button-color-background-color !default;
$button-primary-hover-border-color:                 		$primary-color;
// Secondary Buttons
$button-secondary-icon-color:                                   $button-primary-text-color;
$button-secondary-text-color:                                   $button-primary-text-color;
$button-secondary-background-color:                             $button-primary-background-color;

// Link , Edit, Help Buttons
$button-secondary-background-color:            			#E6E6E6 !default;
$button-secondary-text-color:            			#0033a0 !default;
$button-secondary-icon-color:            			#0033a0 !default;


// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         			#FFFFFF !default;
$sites-nav-menu-item-color:              			#3d3d3d !default;
$sites-nav-menu-item-icon-color:         			#3d3d3d !default;

$sites-nav-menu-item-hover-background:         			#FFF !default;
$sites-nav-menu-item-hover-color:              			#0033a0 !default;
$sites-nav-menu-item-hover-icon-color:         			#0033a0 !default;
//Selected
$sites-nav-menu-item-selected-background:			#0033a0 !default;
$sites-nav-menu-item-selected-color:				#FFF !default;
$sites-nav-menu-item-selected-icon-color:			#FFF !default;
$sites-nav-menu-item-selected-border-color: 			#FFF !default;

$sites-nav-menu-item-selected-hover-background:			#0033a0 !default;
$sites-nav-menu-item-selected-hover-color:			#FFFFFF !default;
$sites-nav-menu-item-selected-hover-icon-color:			#FFFFFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                          	#FAFAFA;
$tool-menu-background-color:		 			$tool-menu-item-background-color;
$tool-menu-color: 			 			#343434 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               		#FFFFFF !default;
$tool-menu-item-hover-icon-color:               		#FFFFFF !default;
$tool-menu-item-hover-background-color:         		#0033a0 !default;
$tool-menu-item-hover-border-left:              		4px solid #0033a0 !default;
// selected
$tool-menu-item-selected-text-color:            		#0033a0 !default;
$tool-menu-item-selected-icon-color:            		#0033a0 !default;
$tool-menu-item-selected-border-left:           		4px solid #0033a0 !default;
$tool-menu-item-selected-background-color:          		#FFFFFF !default;

// submenu
$tool-sub-menu-hover-color:					#FFFFFF !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      		#FFFFFF !default;
$tool-menu-item-selected-hover-icon-color:      		#FFFFFF !default;
$tool-menu-item-selected-hover-background-color:		#0033a0 !default;
$tool-menu-item-selected-hover-border-left:         		4px solid #0033a0 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:  		#E6E6E6 !default;
$tool-menu-collapse-active-text-color:             		#343434 !default;
$tool-sub-menu-hover-color:					#343434;

// info message colors
$info-background-color:   					$body-background-color;
$info-color:                					$primary-color  !default;

$error-background-color:    					#F2DEDE !default;
$ok-color:                  					#DFF0D8 !default;
$warn-background-color:     					#FCF8E3 !default;

#toolMenuWrap .img_site_toolmenu {
    display: none;
}
