$skin-name : "trysakai" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                  				'../images/trysakai.png';
$logo-height:           				40px;
$logo-width:            				298px;

// Base Colors
$primary-color:         				#0B1662;
$top-header-background: 				#0B1662;

// Sites Navigation
//$sites-nav-menu-item-background: 			hsla(0, 0%, 92%, 1);
//$sites-nav-menu-item-color: 				hsla(0, 0%, 25%, 1);
//$sites-nav-menu-item-hover-background: 			hsla(0, 0%, 82%, 1);
//$sites-nav-menu-item-hover-color: 			rgba(0,0,0,1);
	
$sites-nav-menu-item-selected-background: 		#0B1662;
$sites-nav-menu-item-selected-color:        		#FFF;
$sites-nav-menu-item-selected-border-color: 		none;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;

$tool-menu-item-selected-text-color:                    #FFF;
$tool-menu-item-selected-icon-color:                    #FFF;
$tool-menu-item-selected-background-color:              #0B1662;


// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-border-color:         		#0B1662;
$button-primary-hover-text-color:			#0B1662;
