$skin-name : "ubaltdev" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#0181b2 !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#0181b2 !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#0181b2;
$top-header-background:					#0181b2;

/* Logo location */
$logo: 							'../images/ubalt.png';
$logo-height: 						51px;
$logo-width: 						209px;

// Tab colors
$tool-tab-text-color:			 		#000;
$tool-tab-background-color:              		#FFF !default;
$tool-tab-active-text-color:             		#0181b2 !default;
$tool-tab-active-highlight-color:        		#0181b2 !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color: 				 		#0181b2 !default;
$link-active-color: 			 		#0064cd !default;
$link-hover-color: 			 		$primary-color;

// Button colors 
$button-text-color:	 		 		#000000 !default;
$button-border-color: 			 		#CCCCCC !default;
$button-background-color: 		 		#F2F2F2 !default;
$button-background-secondary-color: 	 		#FFFFFF !default;
$button-color-border-color: 		 		#CCCCCC !default;
$button-color-background-color: 	 		#F2F2F2 !default;
$button-color-background-secondary-color:		#FFFFFF !default;
// Primary Button Color
$button-primary-background-color:        		#0181b2 !default;
$button-primary-text-color: 		 		#FFFFFF !default;
$button-primary-hover-text-color:                       #0181b2 !default;
$button-primary-hover-background:	                #FFF !default;
$button-primary-hover-border-color:                     $primary-color;

// Link , Edit, Help Buttons
$button-secondary-text-color:            		#0181b2 !default;
$button-secondary-icon-color:            		#0181b2 !default;


// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#d2d3d5!default;
$sites-nav-menu-item-color:              		#000 !default;
$sites-nav-menu-item-icon-color:         		#000 !default;
//Selected
$sites-nav-menu-item-selected-background:		#FFB81C !default;
$sites-nav-menu-item-selected-color:			#000000 !default;
$sites-nav-menu-item-selected-hover-background: 	#FFB81C !default;
$sites-nav-menu-item-selected-hover-color:      	#000 !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#000 !default;
$sites-nav-menu-item-selected-border-color: 		#FFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-separator-color:                        #fff;
$tool-menu-item-background-color:                       #fff;

$tool-menu-background-color:		 		#ececec !default;
$tool-menu-color: 			 		#444444 !default;
$tool-border-color:			 		#CCC !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#FFFFFF !default;
$tool-menu-item-hover-icon-color:               	#FFFFFF !default;
$tool-menu-item-hover-background-color:         	#0181b2 !default;
$tool-menu-item-hover-border-left:              	4px solid #0181b2 !default;
// selected
$tool-menu-item-selected-background-color:            	#FFF !default;
$tool-menu-item-selected-text-color:            	#0181b2 !default;
$tool-menu-item-selected-icon-color:            	#0181b2 !default;
$tool-menu-item-selected-border-left:           	4px solid #0181b2 !default;
// submenu
$tool-sub-menu-hover-color:				#0181b2 !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-background-color:	#0181b2 !default;
$tool-menu-item-selected-hover-border-left:             4px solid #0181b2 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #0181b2 !default;
$tool-menu-collapse-active-text-color:                  #0181b2 !default;
$tool-sub-menu-hover-color:				#000; 

// info message colors
$info-background-color:   				#efefef;
