$skin-name : "uri" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo: '../images/uri.svg';
$logo-height: 50px;
$logo-width: 124px;

// Main Colors
$background-color-secondary:                            #e7e7e7 !default;
$topNav-text-color:					#002147 !default;
$sites-nav-menu-item-selected-background:               #002147 !default;
$sites-nav-menu-item-selected-color:                    #FFF !default;

#mastLogin #loginForm label {
    color: #002147;
}

.Mrphs-sakai-schedule table.calendar .event {
    background-color: #E9F6FF !important;
}

.Mrphs-siteStatus.is-unpublished {
    background-color: #EBBC00 !important;
    color: #FFFFFF !important;
}


.calDayWithActivity {
    background-color: #FFFFC2 !important;
}

.dropzone .dz-preview .dz-progress {
    visibility: hidden;
}
