$skin-name : "uridev" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo: '../images/uri.svg';
$logo-height: 50px;
$logo-width: 124px;

// Main Colors
$background-color-secondary:                            #e7e7e7 !default;
$sites-nav-menu-item-selected-background:               #002147 !default;
$sites-nav-menu-item-selected-color:                    #FFF !default;
