$skin-name : "wellesley" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#002776 !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#002776 !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#FFF !default;
$site-nav-menu-item-sub-menu-background:		#FAFAFA;

/* Logo location */
$logo: 							'../images/wellesley.svg';
$logo-height: 						50px;
$logo-width: 						65px;

// Tab colors
$tool-tab-text-color:			 		#000 !default;
$tool-tab-background-color:              		#FAFAFA !default;
$tool-tab-active-text-color:             		#002776 !default;
$tool-tab-active-highlight-color:        		#002776 !default;
$tool-tab-active-background-color:			#FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color:                                            #0064cd !default;
$link-active-color:                                     #4e5192 !default;
$link-hover-color:                                      $primary-color !default;

// Button colors 
$button-text-color:	 		 		#000 !default;
$button-border-color: 			 		#CCCCCC !default;
$button-background-color: 		 		#ebebeb !default;
$button-background-secondary-color: 	 		#FFF !default;
$button-color-border-color: 		 		#CCCCCC !default;
$button-color-background-color: 	 		#ebebeb !default;
$button-color-background-secondary-color:		#fff !default;
// Primary Button Color
$button-primary-background-color:        		#002776 !default;
$button-primary-text-color: 		 		#FFF !default;
$button-primary-hover-text-color:                       #002776 !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     #002776 !default;

// Link , Edit, Help Buttons
$button-secondary-text-color:            		#000 !default;
$button-secondary-icon-color:            		#000 !default;


// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#FFF !default;
$sites-nav-menu-item-color:              		#002776 !default;
$sites-nav-menu-item-icon-color:         		#002776 !default;
$sites-nav-menu-item-border-color:         		#002776 !default;
//Selected
//Selected
$sites-nav-menu-item-selected-background:		#002776 !default;
$sites-nav-menu-item-selected-color:			#FFF !default;
$sites-nav-menu-item-selected-hover-background: 	#002776 !default;
$sites-nav-menu-item-selected-hover-color:      	#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFF !default;
$sites-nav-menu-item-selected-border-color: 		#002776 !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:			#FFF !default;
$tool-menu-item-text-color:                             #000 !default;
$tool-menu-item-icon-color:				#000 !default;

// non-selected hover
$tool-menu-item-hover-text-color:               	#FFF !default;
$tool-menu-item-hover-icon-color:               	#FFFFFF !default;
$tool-menu-item-hover-background-color:         	#009dce !default;
$tool-menu-item-hover-border-left:              	4px solid #009dce !default;
// selected
$tool-menu-item-selected-background-color:            	#FFF !default;
$tool-menu-item-selected-text-color:            	#002776 !default;
$tool-menu-item-selected-icon-color:            	#002776 !default;
$tool-menu-item-selected-border-left:           	4px solid #002776 !default;
// submenu
$tool-sub-menu-hover-color:				#FFF !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFFFFF !default;
$tool-menu-item-selected-hover-background-color:	#009dce !default;
$tool-menu-item-selected-hover-border-left:             4px solid #009dce !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #002776 !default;
$tool-menu-collapse-active-text-color:                  #FFF !default;
$tool-sub-menu-hover-color:				#FFF; 

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

#favorite-settings-pane button[aria-checked="true"] :first-child, #favorite-settings-pane button[aria-checked="false"] :last-child {
    background-color: $primary-color !important;
}
