$skin-name : "westliberty" !default; // This is used for bootstrap font behaviour.

/* Logo location */
$logo:                                                          '../images/westliberty.png';
$logo-height:                                                   80px;
$logo-width:                                                    295px;

$banner-height:					       85px;

// Base Colors
$primary-color:         				#202224;
$top-header-background: 				#202224;
$sites-nav-background: 					#f7ce55;
$topNav-text-color:					#FFF;
$text-color:						#000;
$lessons-item-border-top:				#FAFAFA;

$tool-tab-active-highlight-color:			#f7ce55;

// Sites Navigation
$sites-nav-menu-item-background: 			#f7ce55;
$sites-nav-menu-item-color: 				#000;
$sites-nav-menu-item-hover-background: 			#FAE299;
$sites-nav-menu-item-hover-color: 			#000;
	
$sites-nav-menu-item-selected-background: 		#000;
$sites-nav-menu-item-selected-color:        		#FFF;
$sites-nav-menu-item-selected-border-color: 		#FFF;
$sites-nav-menu-item-selected-hover-background: 	#7F7F7F;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;
$tool-menu-item-text-color:                    		#000;

$tool-menu-item-selected-text-color:                    #FFF;
$tool-menu-item-selected-icon-color:                    #FFF;
$tool-menu-item-selected-background-color:              #000;

/* Tool sub menu */
$tool-sub-menu-border-color: 				#fff;
$tool-sub-menu-background-color: 			#FAFAFA;


// Button Hover
$button-primary-hover-background:           		#FFF;
$button-primary-hover-border-color:         		#202224;
$button-primary-hover-text-color:      			#202224;

// Links
$link-color:                                            #2a94c0 !default;
$link-active-color:                                     #2a94c0 !default;
$link-hover-color:                                      #4e5192 !default;

//CUSTOM CSS OVERRIDES

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: #202224 !important;
    }
    .Mrphs-siteHierarchy a {
	color: #202224 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: #202224 !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid #000;
}

#toolMenuWrap .img_site_toolmenu {
    display: none;
}

.bs-callout-primary, .validationEmbedded, .validation, .Mrphs-sakai-samigo #samigo-create-new-box, .Mrphs-sakai-samigo #samigo-create-import-box, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
    background-color: #FAFAFA !important;
    border-color: #202224 !important;
    border-left-color: #202224 !important;
}
