$skin-name : "wjeff" !default; // This is used for bootstrap font behaviour.

$banner-height:						63px;
$topNav-text-color:					#000;

/* Logo location */
$logo:                                                  '../images/wjeff.svg';
$logo-height:                                           66px;
$logo-width:                                            180px;

// Base Colors
$primary-color:         				#da3a37;
$background-color-secondary: 				#FFF;
$top-header-background: 				#FFF;

// Sites Navigation
$sites-nav-menu-item-background: 			hsla(0, 0%, 92%, 1);
$sites-nav-menu-item-color: 				hsla(0, 0%, 25%, 1);
$sites-nav-menu-item-hover-background: 			hsla(0, 0%, 82%, 1);
$sites-nav-menu-item-hover-color: 			rgba(0,0,0,1);
	
$sites-nav-menu-item-selected-background: 		#da3a37;
$sites-nav-menu-item-selected-color:        		#FFF;
$sites-nav-menu-item-selected-border-color: 		none;


// Tool Menu
$tool-menu-item-separator-color: 			#fff;
$tool-menu-item-background-color: 			#fff;

$tool-menu-item-selected-text-color:                    #FFF;
$tool-menu-item-selected-icon-color:                    #FFF;
$tool-menu-item-selected-background-color:              #da3a37;


// Buttons
//$button-text-color:					#fff;
//$button-background: 					$primary-color;
//$button-border-color:					$primary-color;

// Button Hover
$button-primary-hover-text-color:			$primary-color;
$button-primary-hover-background:			#FFF;
$button-primary-hover-border-color:			$primary-color;
