$skin-name : "wscc" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#3F6622 !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#3F6622 !default;
$text-color:				 		#000000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#b5c8aa;
$tool-border-color:                                     #437329 !default;
$tool-menu-background-color:                            #d0dcc9 !default;
$tool-menu-width:					230px !default;

/* Logo location */
$logo: 							'../images/wscc.svg';
$logo-height: 						52px;
$logo-width: 						216px;

// Tab colors
$tool-tab-text-color:			 		#000;
$tool-tab-background-color:              		#d0dcc9 !default;
$tool-tab-active-text-color:             		#000 !default;
$tool-tab-active-highlight-color:        		#d0dcc9 !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links 
$link-color: 				 		#000000 !default;
$link-active-color: 			 		#000000 !default;
$link-hover-color: 			 		$primary-color;

// Button colors 
$button-text-color:	 		 		#000000 !default;
$button-border-color: 			 		#000000 !default;
$button-background-color: 		 		#f3f3f3 !default;
$button-background-secondary-color: 	 		#FFFFFF !default;
$button-color-border-color: 		 		#000000 !default;
$button-color-background-color: 	 		#f3f3f3 !default;
$button-color-background-secondary-color:		#FFFFFF !default;
// Primary Button Color
$button-primary-background-color:        		#b5c8aa !default;
$button-primary-text-color: 		 		#000000 !default;
$button-primary-hover-text-color:                       #000000 !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     $primary-color;
// Secondary Buttons
$button-secondary-icon-color:                           #000 !default; 
$button-secondary-text-color:                           #000 !default;;
$button-secondary-background-color:                     #f3f3f3 !default;;

// Sites Navigation 
// Non Selected
$sites-nav-menu-item-background:         		#b5c8aa !default;
$sites-nav-menu-item-color:              		#000 !default;
$sites-nav-menu-item-icon-color:         		#000 !default;
//Selected
$sites-nav-menu-item-selected-background:		#fc5e04 !default;
$sites-nav-menu-item-selected-color:			#FFF !default;
$sites-nav-menu-item-selected-icon-color:	 	#FFF !default;
$sites-nav-menu-item-selected-hover-background: 	#b5c8aa !default;
$sites-nav-menu-item-selected-hover-color:      	#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFF !default;
$sites-nav-menu-item-selected-border-color: 		#FFF !default;

// TOOL MENU COLORS
// non-selected
$tool-menu-item-background-color:                       #d0dcc9;
$tool-menu-item-text-color:                       	#000 !default;
$tool-menu-item-icon-color:                       	#000 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#000 !default;
$tool-menu-item-hover-icon-color:               	#000 !default;
$tool-menu-item-hover-background-color:         	#FFF !important;
$tool-menu-item-hover-border-left:              	4px solid #FFF !default;
// selected
$tool-menu-item-selected-background-color:            	#FFF !important;
$tool-menu-item-selected-text-color:            	#000 !default;
$tool-menu-item-selected-icon-color:            	#000 !default;
$tool-menu-item-selected-border-left:           	4px solid #3F6622 !default;
// submenu
$tool-sub-menu-hover-color:				#d0dcc9 !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#3F6622 !default;
$tool-menu-item-selected-hover-icon-color:      	#3F6622 !default;
$tool-menu-item-selected-hover-background-color:	#FFF !default;
$tool-menu-item-selected-hover-border-left:             4px solid #3F6622 !default;
// collapsed menu
$tool-menu-collapse-active-hover-background-color:      #3F6622 !default;
$tool-menu-collapse-active-text-color:                  #3F6622 !default;
$tool-sub-menu-hover-color:				#000; 

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

.Mrphs-sakai-resources a.nil.fa-folder::after {
    margin: 0.45em 0 0 -3.4em !important;
}

.navIntraTool li span.current a {
    background: #FFF;
    color: #000;
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--link, #subSites ul li .Mrphs-toolsNav__menuitem--link, .floatingToolMenu ul li .Mrphs-toolsNav__menuitem--link {
    background-color: #d0dcc9 !important;
}
