/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 240, 100%, 11%);

    // Logo
    --logo: url(#{$skin-path}images/johnson.png);
    --logo-height: 50px;
    --logo-width: 149px;
}
$skin-name: 'johnson';

:root.sakaiUserTheme-dark {
    input[type="radio"]:checked {
	background: radial-gradient(circle at center, #fff 0%, #FFF 48%, #FFF 58%);
    }
}
