/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 206, 100%, 18%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/mub.jpg);
    --logo-height: 65px;
    --logo-width: 144px;

    --top-header-background: hsl(0, 0%, 100%);
    --topNav-text-color: hsl(0, 0%, 0%);

    //Sites Nav
    --sites-nav-background: var(--sakai-brand);
    --sites-nav-menu-item-background: var(--sakai-brand);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(206, 41%, 34%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(52, 98%, 49%);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 0%);
    --sites-nav-menu-item-selected-hover-background: hsl(52, 96%, 60%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    --tool-menu-item-selected-background-color: hsl(52, 98%, 49%);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 0%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 0%);
    --tool-menu-item-selected-hover-background-color: hsl(52, 96%, 60%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(40, 100%, 70%);
    //--tool-menu-item-icon-color: hsl(40, 100%, 70%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);
}

$skin-name: "mcneeseupwardbound" !default;
$banner-height: 67px;

// Custom CSS
@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: hsl(0, 0%, 100%) !important;
    }

    .Mrphs-siteHierarchy a {
	color: hsl(0, 0%, 100%) !important;
    }

    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: hsl(206, 100%, 18%) !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid hsl(0, 0%,100%);
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid hsl(52, 98%, 49%);
}
