/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 210, 68%, 22%);
    --top-header-background: var(--sakai-brand);
    --topNav-text-color: hsl(0, 0%, 100%);

    // Logo
    --logo: url(#{$skin-path}images/mfr.svg);
    --logo-height: 72px;
    --logo-width: 792px;

    // Tabs
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);

    //Sites Nav
    --sites-nav-background: hsl(3, 79%, 24%);
    --sites-nav-menu-item-background: hsl(3, 79%, 24%);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(3, 39%, 39%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: var(--sakai-brand);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(210, 32%, 37%);

    //Tool Menu
    --tool-menu-item-selected-background-color: var(--sakai-brand);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(210, 32%, 37%);

}

$skin-name: 'mfr';
$banner-height: 75px;

// Custom CSS
 @media only screen and (max-width: 800px) {
    .Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
	width: 180px !important;
	background-size: 180px 32px !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: var(--link-color) !important;
    }
    .Mrphs-siteHierarchy a {
	color: #FFF !important;
    }
}

.Mrphs-mainHeader .Mrphs-headerLogo {
    background: url(images/mfr.svg) no-repeat no-repeat #12385d !important;
}

.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    background: transparent !important;
}
