/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 186, 27%, 59%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/ndeo.jpg);
    --logo-height: 50px;
    --logo-width: 126px;

    --top-header-background: hsl(0, 0%, 100%);
    --topNav-text-color:  var(--sakai-brand);

    //Sites Nav
    //--sites-nav-background: var(--sakai-brand);
    --sites-nav-menu-item-background: hsl(0, 0%, 100%);
    --sites-nav-menu-item-color: hsl(0, 0%, 0%);
    //--sites-nav-menu-item-hover-background: hsl(206, 41%, 34%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: var(--sakai-brand);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(185, 27%, 67%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    --tool-menu-item-selected-background-color: var(--sakai-brand);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(185, 27%, 67%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(40, 100%, 70%);
    //--tool-menu-item-icon-color: hsl(40, 100%, 70%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);
}

$skin-name: "ndeo" !default;
$banner-height: 52px;

// Custom CSS
@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: hsl(186, 27%, 59%) !important;
    }

    .Mrphs-siteHierarchy a {
	color: hsl(186, 27%, 59%) !important;
    }

    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: hsl(186, 27%, 59%) !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid hsl(0, 0%, 0%);
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid hsl(186, 27%, 59%);
}
