/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 206, 16%, 39%);
    --top-header-background: var(--sakai-brand);
    --topNav-text-color: hsl(40, 100%, 70%);

    // Logo
    --logo: url(#{$skin-path}images/nps.svg);
    --logo-height: 75px;
    --logo-width: 510px;

    // Tabs
    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);

    //Sites Nav
    --sites-nav-background: hsl(203, 18%, 25%);
    --sites-nav-menu-item-background: var(--sakai-brand);
    --sites-nav-menu-item-color: hsl(40, 100%, 70%);
    --sites-nav-menu-item-hover-background: hsl(204, 10%, 51%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(203, 18%, 25%);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(203, 9%, 40%);

    //Tool Menu
    --tool-menu-item-selected-background-color: hsl(207, 100%, 24%);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(207, 49%, 39%);

}

$skin-name: 'nps-whcm';
$banner-height: 75px;

// Custom CSS
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: var(--logo-width) !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: #00447c !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: #FFF !important;
    }
    .Mrphs-siteHierarchy a {
	color: #FFF !important;
    }
    .Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
        width: 223px !important;
        background-size: 223px 30px !important;
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid #526472;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid #FFF;
}
