/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 207, 100%, 20%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/pcc.jpeg);
    --logo-height: 80px;
    --logo-width: 264px;

    --top-header-background: hsl(0, 0%, 100%);
    --topNav-text-color: hsl(0, 0%, 0%);

    //Sites Nav
    --sites-nav-background: hsl(174, 73%, 35%);
    --sites-nav-menu-item-background: hsl(174, 73%, 35%);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(174, 38%, 54%);
    --sites-nav-menu-item-hover-icon-background: hsl(174, 38%, 54%);
    // --sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(207, 100%, 20%);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(207, 44%, 36%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    --tool-menu-item-selected-background-color: hsl(207, 100%, 20%);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(207, 44%, 36%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(40, 100%, 70%);
    //--tool-menu-item-icon-color: hsl(40, 100%, 70%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);
}

$skin-name: "pcc" !default;
$banner-height: 72px;

// Custom CSS
@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color:var(--sakai-brand) !important;
    }

    .Mrphs-siteHierarchy a {
	color: hsl(0,0%,100%) !important;
    }

    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: hsl(0, 0%, 100%) !important;
    }

    //.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    //    width: 200px !important;
    //    background-size: 200px 40px !important;
    //}

    //#mastLogin {
    //    width: calc(100% - 200px) !important;
    //}
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid hsl(0, 0%, 100%);
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid hsl( 174, 73%, 35%);
}
