/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 0, 0%, 0%);
    --top-header-background: hsl(0, 0%, 100%);
    --topNav-text-color: hsl(0, 0%, 0%);
    --tool-menu-background-color:  hsl(0, 0%, 95%);

    // Logo
    --logo: url(#{$skin-path}images/sgu.svg);
    --logo-height: 50px;
    --logo-width: 268px;

    //Sites Nav
    --sites-nav-background: hsl(0, 0%, 95%);
    --sites-nav-menu-item-background: hsl(0, 0%, 48%);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(0, 0%, 58%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(357, 71%, 35%);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(357, 41%, 48%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 58%);

    //Tool Menu
    --tool-menu-item-selected-background-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-text-color: hsl(14, 87%, 54%);
    --tool-menu-item-selected-icon-color: hsl(14, 87%, 54%);
    --tool-menu-item-selected-hover-background-color: hsl(14, 87%, 54%);
    --tool-menu-item-selected-hover-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-icon-color: hsl(0, 0%, 100%);

    --tool-menu-item-background-color: hsl(0, 0%, 95%);
    --tool-menu-item-text-color: hsl(0, 0%, 20%);
    --tool-menu-item-icon-color: hsl(0, 0%, 20%);
    --tool-menu-item-hover-background-color: hsl(0, 0%, 100%);
    --tool-menu-item-hover-text-color: hsl(14, 87%, 54%);
    --tool-menu-item-hover-icon-color: hsl(14, 87%, 54%);

}

$skin-name: 'sgu';

// Custom CSS
@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: #333435 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: #333435 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a.Mrphs-skipNav--toolName {
        color: #333435 !important;
    }
    .Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
	width: 180px !important;
	background-size: 180px 32px !important;
    }
    #mastLogin {
        width: calc(100% - 180px) !important;
    }
}
