/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 200, 51%, 48%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/tli.png);
    --logo-height: 65px;
    --logo-width: 129px;

    --top-header-background: hsl(0, 0%, 100%);
    --topNav-text-color: hsl(0, 0%, 0%);

    //Sites Nav
    --sites-nav-background: var(--sakai-brand);
    --sites-nav-menu-item-background: var(--sakai-brand);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(200, 48%, 59%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-color: var(--sakai-brand);
    --sites-nav-menu-item-selected-hover-background: hsl(0, 0%, 88%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    --tool-menu-item-selected-background-color: var(--sakai-brand);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(200, 48%, 59%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(40, 100%, 70%);
    //--tool-menu-item-icon-color: hsl(40, 100%, 70%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);
}

$skin-name: "transformleadership" !default;
$banner-height: 67px;

// Custom CSS
@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: hsl(0, 0%, 0%) !important;
    }

    .Mrphs-siteHierarchy a {
	color: hsl(0, 0%, 0%) !important;
    }

    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: hsl(200, 51%, 48%);
    }
}

#linkNav ul li.Mrphs-sitesNav__menuitem {
    border: 1px solid hsl(0, 0%, 100%);
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid hsl(200, 51%, 48%);
}
