/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 232, 80%, 21%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/trysakai.png);
    --logo-height: 40px;
    --logo-width: 298px;

    --top-header-background: var(--sakai-brand);
    --topNav-text-color: hsl(0, 0%, 100%);

    --tool-tab-active-highlight-color: var(--sakai-brand);
    --tool-tab-active-text-color: var(--sakai-brand);

    //Sites Nav
    //--sites-nav-background: hsl(0, 0%, 0%);
    //--sites-nav-menu-item-background: hsl(207, 25%, 46%);
    //--sites-nav-menu-item-color: hsl(0, 0%, 100%);
    //--sites-nav-menu-item-hover-background: hsl(206, 22%, 57%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    //--sites-nav-menu-item-selected-background: hsl(0, 0%, 100%);
    //--sites-nav-menu-item-selected-color: var(--sakai-brand);
    //--sites-nav-menu-item-selected-hover-background: hsl(0, 0%, 95%);
    //--sites-nav-menu-item-selected-hover-icon-background: hsl(0, 0%, 95%);
    //--sites-nav-submenu-item-selected-hover-color: var(--sakai-brand);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    //--tool-menu-item-selected-background-color: var(--sakai-brand);
    //--tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    //--tool-menu-item-selected-hover-background-color: hsl(0, 58%, 47%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(0, 0%, 40%);
    //--tool-menu-item-icon-color: hsl(0, 0%, 40%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);

}

// Custom CSS
.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    width: 320px !important;
}

$skin-name: "trysakai";
