/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 342, 98%, 24%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/walsh.png);
    --logo-height: 80px;
    --logo-width: 212px;

    --top-header-background: var(--sakai-brand);
    --topNav-text-color: hsl(0, 0%, 100%);

    //Sites Nav
    --sites-nav-background: hsl(0, 0%, 98%);
    --sites-nav-menu-item-background: var(--sakai-brand);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-background: hsl(342, 48%, 39%);
    --sites-nav-menu-item-hover-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-hover-icon-background: hsl(342, 48%, 39%);

    --sites-nav-menu-item-selected-background: hsl(50, 98%, 48%);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 0%);
    --sites-nav-menu-item-selected-hover-background: hsl(50, 89%, 64%);
    --sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);
    --sites-nav-menu-item-selected-hover-icon-background: hsl(50, 89%, 64%);

    //Tool Menu
    --tool-menu-item-selected-background-color: var(--sakai-brand);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(342, 48%, 39%);
    --tool-menu-item-selected-hover-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-icon-color: hsl(0, 0%, 100%);

    //--tool-menu-item-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-text-color: hsl(0, 0%, 40%);
    //--tool-menu-item-icon-color: hsl(0, 0%, 40%);
    //--tool-menu-item-hover-background-color: hsl(206, 16%, 39%);
    //--tool-menu-item-hover-text-color: hsl(0, 0%, 100%);
    //--tool-menu-item-hover-icon-color: hsl(0, 0%, 100%);

    //Link colors
    //--link-color: hsl(0, 0%, 0%);
    //--link-active-color: var(--sakai-brand);
    //--link-hover-color: var(--sakai-brand);
    //--link-background-color: transparent;
    //--link-active-background-color: transparent;
    //--link-hover-background-color: transparent;
}

:root.sakaiUserTheme-dark {
    --sites-nav-background: hsl(216, 7%, 14%);
    a.Mrphs-toolsNav__category {
        color: #FFF !important;
        font-weight: 700;
    }
}

 @media only screen and (max-width: 800px) {
    .Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
        width: 106px !important;
        background-size: 106px 40px !important;
    }
    #mastLogin {
        width: calc(100% - 106px) !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
	color: var(--link-color) !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
	color: var(--link-color) !important;
    }
}

$skin-name: "walsh" !default;
$banner-height: 80px;

// Custom CSS
.popup-container-header {
    background: hsl(342, 98%, 24%) !important;
}

a.Mrphs-toolsNav__category {
    color: #000 !important;
    font-weight: 700;
}

.checklistDiv {
    max-width: 100% !important;
}
