/* Light Theme */

:root{

    // Primary Color
    @include defineColorHSL(--sakai-brand, 210, 6%, 13%);

    // Logo and Defaults
    --logo: url(#{$skin-path}images/westliberty.png);
    --logo-height: 80px;
    --logo-width: 295px;

    --top-header-background: hsl(210, 6%, 13%);
    --topNav-text-color: hsl(0, 0%, 100%);

    --lessons-item-border-top-color: hsl(0, 0%, 100%);

    //Sites Nav
    --sites-nav-background: hsl(45, 91%, 65%);
    --sites-nav-menu-item-background: hsl(45, 91%, 65%);
    --sites-nav-menu-item-color: var(--sakai-brand);
    --sites-nav-menu-item-hover-background: hsl(45, 90%, 75%);
    --sites-nav-menu-item-hover-icon-background: hsl(45, 90%, 75%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: var(--sakai-brand);
    --sites-nav-menu-item-selected-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-background: hsl(220, 2%, 30%);
    --sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 100%);
    --sites-nav-menu-item-selected-hover-icon-background: hsl(220, 2%, 30%);

    //Tool Menu
    --tool-menu-item-selected-background-color: var(--sakai-brand);
    --tool-menu-item-selected-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-icon-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-background-color: hsl(220, 2%, 30%);
    --tool-menu-item-selected-hover-text-color: hsl(0, 0%, 100%);
    --tool-menu-item-selected-hover-icon-color: hsl(0, 0%, 100%);

    //Link colors
    --link-color: hsl(203, 76%, 25%);
    --link-active-color: hsl(203, 38%, 40%);
    --link-hover-color: hsl(203, 38%, 40%);
    --link-background-color: transparent;
    --link-active-background-color: transparent;
    --link-hover-background-color: transparent;

}

:root.sakaiUserTheme-dark {
    --topNav-text-color: hsl(220, 4%, 83%);
}

$skin-name: "westliberty" !default;
$banner-height: 80px;

li.Mrphs-sitesNav__menuitem {
    border: 1px solid hsl(210, 6%, 13%);
}

.Mrphs-toolTitleNav sakai-maximise-button {
    display: none;
}
