@if $swapped-view-enabled {
	.#{$namespace}portalWrapper{
		color: $swapped-view-text-color;
		&.swapped-view{
			.#{$namespace}topHeader{
				background: $swapped-view-primary;
			}
			.#{$namespace}siteHierarchy{
				background: $swapped-view-primary;
				color: $swapped-view-text-color;;
				a {
					color: $background-color;
				}
			}
			.#{$namespace}mainHeader.headerLogo{
				background: $swapped-view-sites-nav-background !important;
			}
		}
	}
}
